<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<body>
<div class="nave" th:fragment="left(list)">
    <ul>
        <!--<li class="current active" th:if="${list}=='index'"><a th:href="@{/newIndex}">首页</a></li>-->
        <!--<li class="current" th:if="${list}!='index'"><a th:href="@{/newIndex}">首页</a></li>-->
        <!--<li th:if="${list}=='noEnergy1'" class="active">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-1层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/switch-un.png}"  alt=""><img th:src="@{/static/new/img/switch-abnormal.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">开关不一致 <br> 异常状态</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}!='noEnergy1'">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-1层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/switch-un.png}"  alt=""><img th:src="@{/static/new/img/switch-abnormal.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">开关不一致 <br> 异常状态</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}=='noEnergy2'" class="active">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-2层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/switch-un.png}"  alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">开关不一致 </div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}!='noEnergy2'">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-2层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/switch-un.png}"  alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">开关不一致 </div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}=='noEnergy3'" class="active">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-3层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/switch-abnormal.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">异常状态</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}!='noEnergy3'">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-3层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/switch-un.png}"  alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">异常状态</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}=='noEnergy4'" class="active">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-4层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal-white.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}!='noEnergy4'">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-4层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}=='noEnergy5'" class="active">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-5层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal-white.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->

        <!--<li th:if="${list}!='noEnergy5'">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-5层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}=='noEnergy6'" class="active">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-6层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal-white.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}!='noEnergy6'">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-6层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}=='noEnergy7'" class="active">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-7层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal-white.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}!='noEnergy7'">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-7层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}=='noEnergy8'" class="active">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-8层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal-white.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}!='noEnergy8'">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-8层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}=='noEnergy9'" class="active">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-9层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal-white.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}!='noEnergy9'">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-9层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}=='noEnergy10'" class="active">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-10层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal-white.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li th:if="${list}!='noEnergy10'">-->
        <!--<a th:href="@{/newIndex/noEnergy}">-->
        <!--<div class="clearfix">-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-l p-a">-->
        <!--<div class="floor">实验室-10层</div>-->
        <!--<div >(<span class="switch-hint">40</span> / <span class="switch-hint">48</span>)</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="f-l p-r">-->
        <!--<div class="nav-r p-a">-->
        <!--<div>-->
        <!--<img th:src="@{/static/new/img/normal.png}" alt="">-->
        <!--</div>-->
        <!--<div class="switch-hint">正常</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
    </ul>
</div>
</body>
</html>