html,body {
	width: 100%;
	height: 100%;
	background-color: #ededeb;
	color: #3c3e3e;
	min-width: 1680px;
}
.head {
	width: 100%;
	height: 80px;
	background-color: #33CCCC;
	text-align: left;
	line-height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 22px;
	padding: 0 0 0 50px;
	z-index: 999;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
.nave {
	width: 298px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 80px;
	height: 100%;
	border-top: 1px solid #fff;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}
.nave a {
	color: #3c3e3e;
	display: inline-block;
	width: 100%;
	height: 120px;
}
.nave li.active a {
	color: #fff;
}
.nave li:hover a {
	color: #fff;
}
.nave li img {
	width: 25px;
	height: 25px;
}
.nave li.active,.nave ul li:hover {
	background-color: #33CCCC;
	color: #fff;
	transition: all 2s ease-out　;
	-webkit-transition: all 2s ease-out　;
	-moz-transition: all 2s ease-out　;
	-ms-transition: all 2s ease-out　;
	-o-transition: all 2s ease-out　;
}
.nave li.active .switch-hint,.nave li:hover .switch-hint {
	color: #fff;
}
.nave li.active .floor,.nave li:hover .floor {
	color: #fff;
}
.nave ul {
	width: 100%;
	height: 100%;
}
.nave ul li {
	text-align: center;
	cursor: pointer;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	height: 120px;
	left: 0px;
	color: #33CCCC;
	overflow: hidden;
	background: #fff;
	border-bottom: solid 1px #E5E5E5;
}
.nave ul li.current {
	line-height: 85px;
	height: 85px;
}
.nave ul li.current a {
	font-size: 17px;
	font-weight: bold;
	height: 85px;
}
.nave a>div {
	height: 100%;
	width:100%;
}
.nave a>div>div.f-l {
	height: 100%;
	width: 50%;
}
.nav-l,.nav-r {
	position: absolute;
	width: 100%;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 55px;
}
.nav-r {
	left:40%;
	transform: translate(-50%, -40%);
}
.height37{
	height: 38px;
}
.error {
	color: #FF1E1E;
	font-size: 12px;
}
.main_box {
	width: calc(100% - 40px);
	height: 100%;
	padding: 80px 0 0 300px;
	margin: 0 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.main_box>div {
	width: 100%;
	min-width: 1180px;
}
.fotter {
	width: 100%;
	height: 200px;
	background: pink;
}
.card {
	border-radius: 2px;
	background-color: #fff;
	margin: 10px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
}
.hint {
	text-align: right;
	margin: 10px 10px 0 0;
}
.electric {
	width: calc((100% - 60px)/4);
	height: 300px;
}
.energy {
	width: calc((100% - 60px)/2);
	height: 300px;
}
.bulb {
	width: calc((100% - 60px)/4);
	height: 300px;
}
.switch-hint {
	font-size: 12px;
	color: #606968;
	max-width: 80%;
	margin-left: 10%;
	line-height: 1.8;
}
.min-title {
	height: 45px;
	border-bottom: 1px solid #ddd;
	line-height: 45px;
	font-size: 15px;
	padding: 0 10px;
	font-weight: bold;
	color: #3c3e3e;
	background-color: #fafafa;
}
.min-title a {
	color: #33CCCC;
}
.electric-detail {
	margin:10px;
}
.electric-detail>div {
	width:50%;
	text-align: center;
}
.electric-detail>div>div {
	margin: 10px 0;
	font-size: 13.2px;
}
.totail-rate {
	text-align: center;
}
.totail-rate>div {
	margin:15px 0;
}
.totail-rate>div:last-child {
	color: #FF2828;
}
.rate-cricle {
	margin:10px;
}
.rate-cricle>div {
	width: calc(100%/3 - 20px);
	text-align: center;
}
.rate-hint {
	font-size: 12px;
	color: #3c3e3e;
	text-align: right;
	bottom: 10px;
	width: 100%;
	right: 10px;
}
.floor {
	color: #3c3e3e;
	font-weight: bold;
	font-size: 15px;
	/* margin-bottom: 5px; */
	height: 37px;
	line-height: 40px;
}
.title {
	height: 50px;
	border-bottom: 1px solid #ddd;
	line-height: 50px;
	font-size: 15px;
	padding: 0 10px;
	font-weight: bold;
	color: #3c3e3e;
	background-color: #fafafa;
}
.title span {
	display: inline-block;
	vertical-align: middle;
	height: 50px;
	font-weight: normal;
	color: #3c3e3e;
	font-size: 13px;
}
.title span img {
	width: 25px;
	vertical-align: middle;
	margin-right: 3px;
}
.title .right {
	margin-right: 40px;
}
.on-off {
	width: 30%;
	text-align: center;
}
.btn {
	border: 1px solid #eee;
	width: 250px;
	height: 55px;
	line-height: 55px;
	margin: 20px auto;
	text-align: center;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}
.btn>div:first-child {
	border-right: 1px solid #eee;
	height: 100%;
	width: 30%;
	font-weight: bold;
}
.btn>div:last-child {
	border-left: 1px solid #eee;
	height: 100%;
	width: 30%;
}
.btn>div:nth-child(2) {
	width: 39%;
}
.btn img {
	width: 25px;
	vertical-align: middle;
}
.btn .img {
	vertical-align: middle;
	height: 100%;
	line-height: 45px;
}
.btn .min-font {
	font-size: 14px;
	line-height: 0px;
	transform: scale(.8);
}
.btn .pp-num p {
	line-height: normal;
}
.btn .pp-num p:last-child {
	font-weight: normal;
}
.content {
	padding: 20px;
	min-width: 1180px;
}
.light-list {
	width: 70%;
	min-width: 800px;
}
.place {
	width: 15%;
	font-size: 15px;
	margin: 20px 0;
}
.place-title {
	background-color: #33CCCC;
	text-align: center;
	color: #fff;
	padding: 8px 0;
	height: 40px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.place-title>div:first-child {
	font-size: 15px;
}
.place-title>div:last-child{
	font-size: 13px;
}
.place-content {
	background-color: #eff9f9;
	text-align: center;
	color: #3c3e3e;
	padding: 25px;
	height: 70px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.place-content img {
	width: 30px;
	margin-bottom: 5px;
}
.real-time-status {
	width: 30%;
	min-width: 400px;
	height: 150px;
}
.tabs-title {
	color: #3c3e3e;
	font-weight:bold;
	font-size: 16px;
}
.tabs {
}
.tabs a {
	color: #22c1c1;
	font-size: 14px;
}
.blue {
	background-color: #F1FCFE !important;
}
.real-time-status>div {
	width:calc(100%/3);
	text-align: center;
	height: 100%;
}
.real-time-status img {
	width: 30px;
}
.real-time-status p {
	margin-bottom: 5px;
}
.lifetime-title {
	width: 35%;
	height: 100%;
}
.lifetime-hint {
	width: 35%;
	min-width: 200px;
	height: 150px;
}
.lifetime-hint p {
	margin-bottom: 5px;
}
.lifetime-hint>div {
	text-align: center;
	height: 100%;
}
.light-hint-list {
	width:65%;
}
.search {
	width: 80%;
	margin: 30px auto 0;
	text-align: center;
	height: 65px;
	min-width: 1000px;
}
.search img {
	width:30px;
	height: 30px;
}
.floor-levels {
	width: 15%;
	height: 100%;
}
.img-levels {
	width: 20%;
	height: 100%;
}
.switch-levels {
	width:10%;
	height: 100%;
}
.select-levels {
	width:30%;
	height: 100%;
}
.select-btn {
	width:10%;
	height: 100%;
}
.img-levels>div>div {
	width:50%;
}
.noEnergy .place-title>div.clearfix>div.f-l {
	height: 100%;
}
.noEnergy .place-title img {
	width: 25px;
}
.noEnergy .place-title>div.clearfix {
	height: 100%;
}
.noEnergy .place-title p {
	font-size: 12.5px;
}
.min p {
	font-size: 12px !important;
	line-height: normal;
}
.min img {
	width:22px !important;
	height: 22px;
}
.max {
	font-size: 15px !important;
}
.noEnergy .place-title>div.clearfix>div.f-l:first-child {
	width:35%;
}
.noEnergy .place-title>div.clearfix>div.f-l:nth-child(2) {
	width:30%;
}
.noEnergy .place-title>div.clearfix>div.f-l:last-child {
	width:35%;
}
.noEnergy .place-content {
	padding: 0;
	height: auto;
	color: #3c3e3e;
}
.noEnergy .place-content ul {
	height: 100%;
}
.noEnergy .place-content ul li {
	height: 35px;
	width: 100%;
	font-size: 13px;
}
.noEnergy .place-content ul li>div {
	height: 100%;
}
.noEnergy .place-content ul li>div:first-child,.noEnergy .place-content ul li>div:last-child {
	width: 35%;
}
.noEnergy .place-content ul li>div:nth-child(2) {
	width:30%;
}
.noEnergy .place-content ul li img {
	width: 18px;
	height: 18px;
}
.r-min-line:after {
	position: absolute;
	display: inline-block;
	content: '';
	width: 1px;
	height: 20px;
	background-color: #ccc;
	text-align: right;
	right: 0;
	top: 20%;
}
.btn.green {
	background-color: #33CCCC;
	border-color: #33CCCC;
	color: #fff;
}
.btn.green>div:first-child {
	border-color: #fff;
}
.btn.green>div:last-child {
	border-color: #fff;
}
.btn>div {
	font-size: 15px;
}
.btn>div span {
	font-size: 15px;
}
.tabs li {
	display: inline-block;
	color: #3c3e3e;
	width: 75px
}
.p-status {
	max-width: 70%;
	margin-left: 15%;
	line-height: 1.8;
	font-size: 13px;
}
.yellow.off {
	background-color: #fff !important;
}
.yellow.hint {
	border-color: red;
	top: 20% !important;
	background-color: #fff !important;
	text-align: center;
}
.yellow.hint:after {
	content: '!';
	display: inline-block;
	background-color: red;
	color: #fff;
	border-radius: 50%;
	width: 13px;
	height: 13px;
	text-align: center;
	position: absolute;
	top: -5px;
	line-height: 13px;
}
.click-btn {
	cursor: pointer;
	transition: all 2s;
}
.click-btn:hover {
	option:.5;
}
.totalFloor {
	text-align: left;
	padding: 0 20px;
}
.totalLight {
	text-align: center;
	border-bottom: 1px solid #C9C9C9;
	width: 250px;
	height: 65px;
	margin:30px 0 0 calc((30% - 250px)/2);
}
.totalLight p {
	line-height: normal;
}
.totalLight>div.f-l {
	width: calc(50% - 1px);
	height: 100%;
}
.totalLight>div.f-l:first-child {
	font-weight: bold;
	color: #3c3e3e;
}
.totalLight>div.f-l:first-child p:first-child {
	font-size: 15.5px;
}
.totalLight>div.f-l:first-child p:last-child {
	font-size: 12px;
	font-weight: normal;
}
.totalLight>div.f-l:last-child {
	font-size: 12px;
	color: #3c3e3e;
}
.totalLight img {
	width: 25px;
	vertical-align: middle;
}
.tabs ul {
	padding: 10px 60px 0px 40px;
}
.explain {
	font-size: 12px;
	color: #3c3e3e;
	text-align: right;
	padding:0 60px;
	bottom: 30px;
	right: 0;
}
.btn .pp-num p.font12 span {
	font-size: 12px;
}