<!doctype html >
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>群控</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" th:href="@{/static/AmazeUI/i/favicon.png}">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" th:href="@{/static/AmazeUI/i/app-icon72x72@2x.png}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/static/AmazeUI/i/app-icon72x72@2x.png}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" th:content="@{/static/AmazeUI/i/app-icon72x72@2x.png}">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" th:href="@{/static/AmazeUI/css/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{/static/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/AmazeUI/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/poeConsole/css/common.css}">
    <link rel="stylesheet" th:href="@{/static/poeConsole/css/left.css}">
    <link rel="stylesheet" th:href="@{/static/poeConsole/css/index.css}">
</head>
<body>
<div class="am-container  " id="poeConsole">
    <div class="am-g content">
        <div class="col-sm-1 col-lg-1 no-padding leftNav">
            <div th:replace="poeCommon/left::left('timing')"></div>
        </div>
        <div class="col-sm-11 col-lg-11  no-padding topNav ">
            <!--<nav th:replace="poeCommon/head::head" class=""></nav>-->

            <section class="am-panel am-panel-default">
                <header class="am-panel-hd">
                    <h3 class="am-panel-title">网络列表</h3>
                </header>
                <div class="am-panel-bd no-margin no-padding">
                    <div class="data-show-table">
                        <p class="am-text-right am-text-xs blue-green" style=" margin: 0 0 .5rem 0;">（温馨提示：若改变隶属组，则进入新组时，角色为群众）</p>
                        <table class="am-table am-table-bd ">
                            <thead class="am-text-sm " style="color: #3a3a3a;">
                            <tr >
                                <th style="width: 15%;" class="am-text-center">网络名称</th>
                                <th style="width: 20%;" class="am-text-center">网络ID</th>
                                <th style="width: 15%;" class="am-text-center">网络状态</th>
                                <th style="width: 15%;" class="am-text-center">面板数量</th>
                                <th  class="p-r am-dropdown am-text-center" data-am-dropdown>
                                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                                        隶属网组 <img th:src="@{/static/poeConsole/img/subjection.png}" alt="" class=" p-a create-mesh-list  tool" style="width: 1.5rem;">
                                    </a>
                                    <ul class="am-dropdown-content ">
                                        <li>
                                            <button type="button" data-am-modal="{target: '#creatMesh-modal'}" class="am-btn  am-btn-primary am-btn-xs btn-white">
                                                <span>+</span>创建网组
                                            </button>
                                        </li>
                                        <li class="am-dropdown-header am-text-sm">
                                            <a th:href="@{/control/netWorkGroupConsole(gname='全部')}">全部</a>
                                        </li>
                                        <li class="am-text-xs p-r" th:each="group:${groupList}">
                                            <a th:href="@{/control/netWorkGroupConsole(gname=${group.gname})}"
                                               th:text="${group.gname}">

                                            </a>
                                            <i class="fa fa-caret-right p-a mesh-rename"  aria-hidden="true"></i>
                                            <div class="am-cf  rename-delete p-a">
                                                <div class="am-fl am-center" data-am-modal="{target: '#renameGroup-modal'}">
                                                    重命名
                                                </div>
                                                <div class="am-fl am-center" data-am-modal="{target: '#deleteGroup-modal'}">
                                                    删除
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </th>
                                <th class="am-text-center" style="width: 15%;">所在网组的主控</th>
                            </tr>
                            </thead>
                            <tbody class="am-text-sm">
                            <tr th:each="controlMesh:${controlMeshs}">
                                <td class="p-r ">
                                    <span th:text="${controlMesh.mname}"></span>
                                    <img th:src="@{/static/poeConsole/img/dot.png}" alt=""  class=" p-a  tool am-animation-fade first-rename" style="width: 1.7%;">
                                    <!--<i class="fa fa-ellipsis-v  p-a gary" aria-hidden="true"></i>-->

                                    <div class="am-cf  rename-delete p-a left">
                                        <div class="am-fl am-center" data-am-modal="{target: '#renameMesh-modal'}">
                                            重命名
                                        </div>
                                    </div>
                                </td>
                                <td th:text="${controlMesh.meshId}"></td>
                                <td th:text="${controlMesh.state}"></td>
                                <td class="p-r" >
                                    <span th:text="${controlMesh.pNum}"></span>
                                    <span class="am-text-xs" th:if="${controlMesh.pState!=null}" th:text="${controlMesh.pState}"></span>
                                    <img th:src="@{/static/poeConsole/img/open.png}" alt=""  class=" p-a  tool">
                                </td>
                                <td class="p-r" >
                                    <span th:text="${controlMesh.gname==null}?'--空--':${controlMesh.gname}"></span>
                                    <img th:src="@{/static/poeConsole/img/list-bottom.png}" alt="" class=" p-a  tool" >
                                </td>
                                <td>
                                    <div class="am-checkbox table-checkbox">
                                        <label class="blue-green">
                                            <input type="checkbox" th:checked="${controlMesh.masterId==1}"> 主控
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-r text-blue">网络2
                                    <img th:src="@{/static/poeConsole/img/dot.png}" alt=""  class=" p-a  tool first-rename" style="width: 1.7%;">
                                    <div class="am-cf  rename-delete p-a left">
                                        <div class="am-fl am-center" data-am-modal="{target: '#renameMesh-modal'}">
                                            重命名
                                        </div>
                                    </div>
                                </td>
                                <td><span>88888888</span></td>
                                <td class="text-blue">网络在线</td>
                                <td class="p-r text-blue">2<span class="am-text-xs">（存在异常）</span>
                                    <!--<i class="fa fa-chevron-circle-down p-a violet" aria-hidden="true"></i>-->
                                    <img th:src="@{/static/poeConsole/img/open.png}" alt=""  class=" p-a  tool panel-show-msg">
                                </td>
                                <td class="p-r">组1
                                    <img th:src="@{/static/poeConsole/img/list-bottom.png}" alt="" class=" p-a  tool" >
                                </td>
                                <td>
                                    <div class="am-checkbox table-checkbox">
                                        <label>
                                            <input type="checkbox"> 主控
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="am-text-xs panel-show-detail">
                                <th rowspan="3" class="am-text-center"></th>
                                <th class="d-panel-msg am-text-center">面板名称</th>
                                <th class="d-panel-msg am-text-center">面板MAC</th>
                                <th class="d-panel-msg am-text-center">版本型号</th>
                                <th class="d-panel-msg am-text-center">面板状态</th>
                                <th rowspan="3"></th>
                            </tr>
                            <tr class="am-text-xs panel-show-detail">
                                <td class="d-panel-msg p-r ">
                                    面板1
                                    <img th:src="@{/static/poeConsole/img/dot.png}" alt=""  class=" p-a  tool first-rename" style="width: 1.7%;">
                                    <div class="am-cf  rename-delete p-a left">
                                        <div class="am-fl am-center"  style="border-right: 1px solid #ccc;">
                                            重命名
                                        </div>
                                        <div class="am-fl am-center">
                                            删除
                                        </div>
                                    </div>
                                </td>
                                <td class="d-panel-msg ">888888</td>
                                <td class="d-panel-msg ">版本(型号1)</td>
                                <td class="d-panel-msg ">在线</td>
                            </tr>
                            <tr class="am-text-xs panel-show-detail">
                                <td class="d-panel-msg p-r">面板2
                                    <img th:src="@{/static/poeConsole/img/dot.png}" alt=""  class=" p-a  tool first-rename" style="width: 1.7%;">
                                    <div class="am-cf  rename-delete p-a left">
                                        <div class="am-fl am-center" style="border-right: 1px solid #ccc;" >
                                            重命名
                                        </div>
                                        <div class="am-fl am-center">
                                            删除
                                        </div>
                                    </div>
                                </td>
                                <td class="d-panel-msg">99999</td>
                                <td class="d-panel-msg">版本(型号2)</td>
                                <td class="am-text-danger d-panel-msg">离线</td>
                            </tr>
                            <tr>
                                <td class="p-r ">
                                    网络3
                                    <img th:src="@{/static/poeConsole/img/dot.png}" alt=""  class=" p-a  tool first-rename" style="width: 1.7%;">
                                    <div class="am-cf  rename-delete p-a left">
                                        <div class="am-fl am-center"  data-am-modal="{target: '#renameMesh-modal'}">
                                            重命名
                                        </div>
                                    </div>
                                </td>
                                <td>88888888</td>
                                <td>网络离线</td>
                                <td class="p-r am-text-danger">1 <span class="am-text-xs">（离线）</span>
                                    <img th:src="@{/static/poeConsole/img/close.png}" class=" p-a  tool" alt="">
                                    <!--<i class="fa fa-chevron-circle-up p-a violet" aria-hidden="true"></i>-->
                                </td>
                                <td class="p-r am-dropdown" data-am-dropdown>
                                    <!--<img th:src="@{/static/poeConsole/img/list-bottom.png}" alt="" class=" p-a  tool" >-->
                                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                                        组1  <img th:src="@{/static/poeConsole/img/list-bottom.png}" alt="" class=" p-a  tool" >
                                    </a>
                                    <ul class="am-dropdown-content ">
                                        <li class="am-dropdown-header am-text-sm"> - 空 - </li>
                                        <li class="am-text-xs p-r">
                                            <a href="#">组1</a>
                                            <!--<i class="fa fa-caret-right p-a mesh-rename"  aria-hidden="true"></i>-->
                                            <!--<div class="am-cf  rename-delete p-a">-->
                                                <!--<div class="am-fl am-center">-->
                                                    <!--重命名-->
                                                <!--</div>-->
                                                <!--<div class="am-fl am-center">-->
                                                    <!--删除-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        </li>
                                        <li class="am-text-xs p-r">
                                            <a href="#">组2</a>

                                            <!--<i class="fa fa-caret-right p-a mesh-rename"  aria-hidden="true"></i>-->
                                            <!--<div class="am-cf  rename-delete p-a">-->
                                                <!--<div class="am-fl am-center">-->
                                                    <!--重命名-->
                                                <!--</div>-->
                                                <!--<div class="am-fl am-center">-->
                                                    <!--删除-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        </li>
                                        <li class="am-text-xs p-r">
                                            <a href="#">组3</a>

                                            <!--<i class="fa fa-caret-right p-a mesh-rename"  aria-hidden="true"></i>-->
                                            <!--<div class="am-cf  rename-delete p-a">-->
                                                <!--<div class="am-fl am-center">-->
                                                    <!--重命名-->
                                                <!--</div>-->
                                                <!--<div class="am-fl am-center">-->
                                                    <!--删除-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="am-checkbox table-checkbox">
                                        <label class="blue-green">
                                            <input type="checkbox" checked> 主控
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-r text-blue">
                                    网络4
                                    <img th:src="@{/static/poeConsole/img/dot.png}" alt=""  class=" p-a  tool first-rename" style="width: 1.7%;">
                                    <div class="am-cf  rename-delete p-a left">
                                        <div class="am-fl am-center" data-am-modal="{target: '#renameMesh-modal'}">
                                            重命名
                                        </div>
                                    </div>
                                </td>
                                <td>88888888</td>
                                <td class="text-blue">网络在线</td>
                                <td class="p-r text-blue">2<span class="am-text-xs">（存在异常）</span>
                                    <!--<i class="fa fa-chevron-circle-down p-a violet" aria-hidden="true"></i>-->
                                    <img th:src="@{/static/poeConsole/img/close.png}" class=" p-a  tool "   alt="" />
                                </td>
                                <td class="p-r " >组2
                                    <img th:src="@{/static/poeConsole/img/list-bottom.png}" alt="" class=" p-a  tool" >
                                </td>
                                <td>
                                    <div class="am-checkbox table-checkbox">
                                        <label>
                                            <input type="checkbox"> 主控
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-r text-blue">
                                    网络5
                                    <img th:src="@{/static/poeConsole/img/dot.png}" alt=""  class=" p-a  tool first-rename" style="width: 1.7%;">
                                    <div class="am-cf  rename-delete p-a left">
                                        <div class="am-fl am-center" data-am-modal="{target: '#renameMesh-modal'}">
                                            重命名
                                        </div>
                                    </div>
                                </td>
                                <td>88888888</td>
                                <td class="text-blue">网络在线</td>
                                <td class="p-r text-blue">2<span class="am-text-xs">（存在异常）</span>
                                    <!--<i class="fa fa-chevron-circle-down p-a violet" aria-hidden="true"></i>-->
                                    <img th:src="@{/static/poeConsole/img/close.png}" class=" p-a  tool" alt="">
                                </td>
                                <td class="p-r"> - 空 -
                                    <img th:src="@{/static/poeConsole/img/list-bottom.png}" alt="" class=" p-a  tool" >
                                </td>
                                <td>
                                    <div class="am-checkbox table-checkbox">
                                        <label>
                                            <input type="checkbox"> 主控
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div th:replace="poeModel/createMesh::createMesh"></div>
<div th:replace="poeModel/renameMesh::renameMesh"></div>
<div th:replace="poeModel/renameGroup::renameGroup"></div>
<div th:replace="poeModel/deleteGroup::deleteGroup"></div>
<!--   Core JS Files   -->
<script th:src="@{/static/AmazeUI/js/zepto.min.js}" type="text/javascript"></script>
<script th:src="@{/static/AmazeUI/js/app.js}" type="text/javascript"></script>
<!--<script  th:src="@{/static/AmazeUI/js/handlebars.min.js}"  type="text/javascript"></script>-->
<!--<script th:src="@{/static/AmazeUI/js/amazeui.basic.min.js}" type="text/javascript"></script>-->
<script th:src="@{/static/AmazeUI/js/amazeui.min.js}" type="text/javascript"></script>
<script th:src="@{/static/poeConsole/js/common.js}" type="text/javascript"></script>
<script>
    $(function () {
        $('.rename-delete').hide();
        $('.panel-show-detail').hide();
        $('.data-show-table .am-dropdown-content li').click(function (e) {
            e.preventDefault();
            $(this).addClass('active').siblings('li').removeClass('active');
        });
        $('.create-mesh-list').click(function (e) {
            e.preventDefault();
            $(this).parent().siblings().find('.rename-delete').hide();
            $(this).parent().siblings().find('.am-dropdown-content li').removeClass('active');
        });
        $('.mesh-rename').click(function (e) {
            e.preventDefault();
            $(this).next('.rename-delete').toggle();
            $(this).parent().siblings().find('.rename-delete').hide();
        });
        $('.first-rename').click(function (e) {
            e.preventDefault();
            $(this).next('.rename-delete').toggle();
            $(this).parent().parent().siblings().find('.rename-delete').hide();
        });
        $('.panel-show-msg').click(function (e) {
            e.preventDefault();
            var status=$(this).attr('src');
            if(status.indexOf('open')!=-1){
                var reg=/open/g;
                status=status.replace(reg,'close');
            }else if(status.indexOf('close')!=-1){
                var reg=/close/g;
                status=status.replace(reg,'open');
            }
            $(this).attr('src',status);
            $(this).parent().parent().siblings('.panel-show-detail').toggle();
        });
    });

</script>
</body>
</html>
