<!doctype html >
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>网组控制台</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" th:href="@{/static/AmazeUI/i/favicon.png}">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" th:href="@{/static/AmazeUI/i/app-icon72x72@2x.png}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/static/AmazeUI/i/app-icon72x72@2x.png}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" th:content="@{/static/AmazeUI/i/app-icon72x72@2x.png}">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/AmazeUI/css/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{/static/AmazeUI/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/poeConsole/css/common.css}">
    <link rel="stylesheet" th:href="@{/static/poeConsole/css/left.css}">
    <link rel="stylesheet" th:href="@{/static/poeConsole/css/timing.css}">
</head>
<body>
<div class="am-container  " id="poeConsole">
    <div class="am-g content" style="height: auto;min-height: 100%;">
        <div class="col-sm-1 col-lg-1 no-padding leftNav">
            <div th:replace="poeCommon/left::left('timing')"></div>
        </div>
        <div class="col-sm-2 col-lg-2 col-sm-offset-1 col-lg-offset-1 no-padding leftNav leftNav2">
            <ul class="am-nav">
                <!--<li >-->
                    <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
                        <!--&lt;!&ndash;<button type="button" class="am-btn am-btn-secondary am-btn-xs"><span class="ti-plus">+</span>创建网组&ndash;&gt;-->
                        <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--<a class="ellipsis am-list-title" href="javascript:void(0);">XXX项目中的网络</a>-->
                <!--</li>-->
                <!--<li th:alt=""><a class="ellipsis" href="javascript:void(0);">网络列表</a></li>-->
                <li th:each="mesh:${meshs}" th:alt="${mesh.meshId}">
                    <a class="ellipsis" th:href="@{/control/timer(meshId=${mesh.meshId})}" th:text="${mesh.mname}">
                    </a>
                </li>
                <!--<li ><a class="ellipsis" href="javascript:void(0);">组2</a></li>-->
                <!--<li ><a class="ellipsis" href="javascript:void(0);">组3</a></li>-->
            </ul>
        </div>
        <div class="col-sm-9 col-lg-9  no-padding topNav ">
            <!--<nav th:replace="poeCommon/head::head" class=""></nav>-->
            <section class="am-panel am-panel-default">
                <header class="am-panel-hd">
                    <h3 class="am-panel-title"><span th:text="${mname}"></span><span>的定时详情</span></h3>
                </header>

                <div class="am-panel-bd no-margin no-padding p-r">
                    <div class="am-g timing-show-list no-margin no-padding">
                        <div class="col-sm-6 col-lg-6 left-timing-title no-margin no-padding">
                            <div  style="text-align: center;top: 8rem;left: 70%;    width: 20rem;" class="p-a">
                                <img th:if="${#lists.isEmpty(timeLines)}" style="width: 8rem;"  th:src="@{/static/poeConsole/img/kong.png}"
                                    >
                                <p style="font-size: 1.5rem;line-height: 3;" th:if="${#lists.isEmpty(timeLines)}">抱歉，暂无数据</p>
                            </div>

                            <ul class="am-list am-list-static am-list-border no-margin no-padding">
                                <li th:each="timeLine,timeLineStat:${timeLines}"
                                    th:class="${timeLineStat.index==0 and timeLine!=null}?'active'" >
                                    <input type="hidden" th:value="${timeLine.id}" name="id">
                                    <p class="first" th:text="${timeLine.tname}"></p>
                                    <p th:text="${timeLine.week}"></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-5 col-lg-5 col-sm-offset-1 col-lg-offset-1 right-timing-detail" th:alt="${timePoints}">
                            <ul class="am-list am-list-static am-list-border  no-margin  ">
                                <li class="am-g no-padding" th:each="timePoint:${timePoints}" >
                                    <div class="col-sm-4 col-lg-4 t-center right-line padding-1" th:text="${timePoint.time}"></div>
                                    <div class="col-sm-8 col-lg-8 padding-1 " th:text="${timePoint.sname}"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div th:replace="poeModel/createMesh::createMesh"></div>
<div th:replace="poeModel/renameMesh::renameMesh"></div>
<div th:replace="poeModel/renameGroup::renameGroup"></div>
<div th:replace="poeModel/deleteGroup::deleteGroup"></div>
<div th:replace="poeModel/renamePanel::renamePanel"></div>
<div th:replace="poeModel/deletePanel::deletePanel"></div>
<div th:replace="poeModel/deleteMesh::deleteMesh"></div>
<div th:replace="poeModel/controlInformation::controlInformation"></div>
<div th:replace="poeModel/dataReset::dataReset"></div>
<div th:replace="poeModel/spinner::spinner"></div>
<!--   Core JS Files   -->
<script th:src="@{/static/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/static/AmazeUI/js/zepto.min.js}" type="text/javascript"></script>
<script th:src="@{/static/AmazeUI/js/app.js}" type="text/javascript"></script>
<!--<script  th:src="@{/static/AmazeUI/js/handlebars.min.js}"  type="text/javascript"></script>-->
<!--<script th:src="@{/static/AmazeUI/js/amazeui.basic.min.js}" type="text/javascript"></script>-->
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"  type="text/javascript"></script>
<script th:src="@{/static/AmazeUI/js/amazeui.min.js}" type="text/javascript"></script>
<script th:src="@{/static/poeConsole/js/common.js}" type="text/javascript"></script>
<script>
    $(function () {
        var meshId=getParam('meshId');
        console.log(meshId);
        $('.leftNav2 .am-nav li').each(function () {
            var text=$(this).attr('alt');
            console.log(text);
            if(meshId==text){
                $(this).addClass('active');
            }else{
                $(this).removeClass('active');
            }
        })
    })
    $(".left-timing-title li").click(function () {
        var tsid = $(this).find('input').val();
        $.post("/central-console/control/timePointList",{"tsid":tsid},function (data) {
//            var timePoints = [];
            var timePoints = data.timePoints;
            $(".right-timing-detail").empty();
            if (timePoints.length>0){
//                console.log(timePoints);
                var ul = '<ul class="am-list am-list-static am-list-border  no-margin ">';
                $.each(timePoints,function (key,value) {
                    ul += '<li class="am-g no-padding">' +
                            '<div class="col-sm-4 col-lg-4 t-center right-line padding-1">'+value.time+'</div>' +
                            '<div class="col-sm-8 col-lg-8 padding-1 ">'+value.sname+'</div>' +
                            '</li>';
                })
                ul += '</ul>';
                $(".right-timing-detail").append(ul);
            }
        });
    });
    function getParam(paramName) {
        paramValue = "", isFound = !1;
        if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) {
            arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0;
            while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++
        }
        return paramValue == "" && (paramValue = null), paramValue
    }
</script>
</body>
</html>
