/*input[type=range] {*/
    /*-webkit-appearance: none;*/
    /*width: 100%;*/
    /*border-radius: 10px;*/
    /*background: -webkit-linear-gradient(#059CFA, #059CFA) no-repeat;*/
    /*background-size: 0% 100%;*/
/*}*/
/*input[type=range]::-webkit-slider-thumb {*/
    /*-webkit-appearance: none;*/
/*}*/
/*input[type=range]::-webkit-slider-runnable-track {*/
    /*height: 15px;*/
    /*border-radius: 10px; !*将轨道设为圆角的*!*/
    /*box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; !*轨道内置阴影效果*!*/
/*}*/
/*input[type=range]::-webkit-slider-thumb {*/
    /*-webkit-appearance: none;*/
    /*height: 25px;*/
    /*width: 25px;*/
    /*margin-top: -5px; !*使滑块超出轨道部分的偏移量相等*!*/
    /*background: #ffffff;*/
    /*border-radius: 50%; !*外观设置为圆形*!*/
    /*border: solid 0.125em rgba(205, 224, 230, 0.5); !*设置边框*!*/
    /*box-shadow: 0 .125em .125em #3b4547; !*添加底部阴影*!*/
/*}*/
/*input[type=range]::-ms-track {*/
    /*height: 25px;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;*/
    /*border-color: transparent; !*去除原有边框*!*/
    /*color: transparent; !*去除轨道内的竖线*!*/
/*}*/

/*input[type=range]::-ms-thumb {*/
    /*border: solid 0.125em rgba(205, 224, 230, 0.5);*/
    /*height: 25px;*/
    /*width: 25px;*/
    /*border-radius: 50%;*/
    /*background: #ffffff;*/
    /*margin-top: -5px;*/
    /*box-shadow: 0 .125em .125em #3b4547;*/
/*}*/

/*input[type=range]::-ms-fill-lower {*/
    /*!*进度条已填充的部分*!*/
    /*height: 22px;*/
    /*border-radius: 10px;*/
    /*background: linear-gradient(#059CFA, #059CFA) no-repeat;*/
/*}*/

/*input[type=range]::-ms-fill-upper {*/
    /*!*进度条未填充的部分*!*/
    /*height: 22px;*/
    /*border-radius: 10px;*/
    /*background: #ffffff;*/
/*}*/

/*input[type=range]:focus::-ms-fill-lower {*/
    /*background: linear-gradient(#059CFA, #059CFA) no-repeat;*/
/*}*/

/*input[type=range]:focus::-ms-fill-upper {*/
    /*background: #ffffff;*/
/*}*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 10px;
    background: -webkit-linear-gradient(#059CFA, #059CFA) no-repeat;
    background-size: 0% 100%;
}
/*input[type=range]:focus {*/
    /*outline: none;*/
/*}*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}
input[type=range]::-ms-thumb {
    border: solid 0.125em rgba(205, 224, 230, 0.5);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 0 .125em .125em #3b4547;
}
input[type=range]::-ms-track {
    height: 25px;
    border-radius: 10px;
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
    border-color: transparent; /*去除原有边框*/
    color: transparent; /*去除轨道内的竖线*/
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
input[type=range]::-ms-fill-lower {
    /*进度条已填充的部分*/
    height: 22px;
    border-radius: 10px;
    background: linear-gradient(#059CFA, #059CFA) no-repeat;
}

input[type=range]::-ms-fill-upper {
    /*进度条未填充的部分*/
    height: 22px;
    border-radius: 10px;
    background: #ffffff;
}

input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(#059CFA, #059CFA) no-repeat;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}
input[type=range]::-moz-range-progress {
    background: linear-gradient(#059CFA, #059CFA) no-repeat;
    height: 13px;
    border-radius: 10px;
}
.p-r{
    position: relative;
}
.p-a{
    position: absolute;
}
.range{
    width:100%;
}
.show-hint{
    display: inline-block;
    position: absolute;
    background-color: rgba(0,0,0,.65);
    padding: .4rem .8rem;
    color: #fff;
    bottom: 100%;
    font-size: 1rem;
    text-align: center;
}
.show-hint:after{
    /*width: 1rem;*/
    /*height: .5rem;*/
    display: inline-block;
    width: 0;
    height: 0;
    border-width:  .5rem;
    border-style: solid;
    border-color: #fff  rgba(0,0,0,.65)  rgba(0,0,0,.65)  rgba(0,0,0,.65);
}
.am-margin-top-20{
    margin: 5rem 0;
}
.title-max{
    max-width: 100px;
}
#switch{
    border-radius: 50%;
    padding: 1rem;
    background-color: #fff;
    color: #3598db;
    font-weight: bold;
    border:.2rem solid #3598db;
}