body, html {
    background-color: #F7F7F7;
    /*font-family: PingFangSC-Semibold, sans-serif;*/
    color: #323232;
}

strong {
    font-size: 2.8rem;
    font-weight: normal;

}

.am-container {
    height: 90%;
    max-width: 100%;
    min-width: 750pt
}

.col-sm-2 {
    width: 13%
}

.col-lg-9 {
    width: 85%
}

@media only screen and (min-width: 1025px) {
    .col-lg-2 {
        width: 13%
    }
}

@media only screen and (min-width: 1025px) {
    .col-lg-9 {
        width: 85%
    }
}

.road img {
    width: 5rem;
    min-width: 5rem
}

.roadBackground {
    background-color: #666
}

.roadBackground .am-list > li {
    height: 6.6rem;
    border: 4px solid #e3e3e3;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    background-color: #666
}

.roadBackground .am-list > li.no-line {
    border-color: #666
}

.col-lg-1-5, .col-sm-1-5 {
    margin: 0 40px;
    width: calc((100% - 600px) / 8);
    border-top: 4px solid #e3e3e3
}

.col-lg-1-5:first-child, .col-sm-1-5:first-child {
    margin-left: 1.5rem
}

.col-lg-1-5:last-child, .col-sm-1-5:last-child {
    margin-right: 1.5rem
}

.light-move2 img, .light-move3 img {
    position: absolute;
    top: -3.5rem
}

.roadBackground .am-list > li:first-child {
    border-top: 0
}

.roadBackground .am-list > li:last-child {
    border-bottom: 0
}

.light-move2:nth-child(2) img {
    left: -5rem
}

.light-move2:nth-child(3) img {
    left: 0
}

.light-move2:nth-child(4) img {
    left: 4rem
}

.light-move2:nth-child(5) img {
    left: 11rem
}

.light-move2:nth-child(6) img {
    left: 15rem
}

.light-move3:nth-child(2) img {
    left: 5rem
}

.light-move3:nth-child(3) img {
    left: 11.5rem
}

.light-move3:nth-child(4) img {
    left: 15.2rem
}

.light-move3:nth-child(5) img {
    left: 20.5rem
}

.light-move3:nth-child(6) img {
    left: 25.5rem
}

.light-move, .light-move2, .light-move3 {
    position: relative
}

.light-move img, .light-move2 img, .light-move3 img {
    position: absolute;
    width: 50px
}

.col-lg-1-5.no-top, .col-sm-1-5.no-top {
    border-color: transparent
}

.light-move img {
    top: -4rem
}

.am-nav > li {
    height: 6rem
}

.tree-list {
    padding: 10px 0;
    text-align: center
}

.nav-background {
    background-color: #54AD8F;
    color: #fff;
    padding: .5rem;
}

.shuli {
    margin: 0 auto;
    width: 25px;
    line-height: 2
}


.top {
    top: -5.6rem;
    right: 10rem;
    transform: rotate(90deg)
}

.bottom {
    bottom: -14rem;
    left: 20rem;
    transform: rotate(-90deg)
}

.roadBackground .am-list {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.p-r {
    position: relative
}

.p-a {
    position: absolute
}

.left-way p {
    text-align: center
}

.roadBackground .am-list > li.center-tree {
    height: auto;
    border: 5px solid #e3e3e3;
    border-right: 0;
    border-left: 0
}

.am-topbar {
    margin-bottom: 0
}

.center-tree > .am-g {
    margin: 5px 0;
    border-color: #666;
    background-color: #dcdcdc
}

.roadBackground .am-list > li.center-tree-sibings.two {
    border-color: #666
}

.hint-car {
    display: inline-block;
    color: #fff;
    letter-spacing: 8px;
    font-size: 25px
}

.left-way {
    font-weight: 700
}

.part-8 {
    width: 12.5%;
    height: 1rem;
    border-right: 1px solid #bbb;
    color: #696969;
    font-size: 1.2rem
}

.part-8.am-cf {
    border-left: 1px solid #bbb;
}

.light .part-8 {
    border-color: transparent
}

.part-8 span {
    top: 100%;
    right: -25%;
    width: 50%;
    color: #555;
    text-align: center;
    font-weight: 700
}

.road-middle.last, .road-tree.last .col-end {
    border: none
}

.tree img.road-img {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    width: 6rem;
    max-width: max-content;
    min-width: auto
}

.part-8 span.am-fl {
    left: -25%
}

.part-8 .checkbox {
    top: calc(100% + 3rem);
    left: calc(100% - 6rem);
    color: #333;
    font-size: 1.5rem
}

.new-road {
    margin-top: 4rem;
    color: #696969;
    font-size: 1.2rem
}

.max-road-title {
    margin-bottom: .5rem
}

.max-road-title span:first-child {
    color: #323232;
    font-size: 1.8rem;
}

.max-road-title span:last-child {
    color: #323232;
    font-size: 1.8rem;

}

.new-road .hint {
    color: #999;
    font-size: 1.5rem;
    line-height: 1.8;
}

.road {
    height: 6.5rem;
    background-color: #4B4B4B;
}
.road .light img{
    width: 5rem;
    /*height: 4rem;*/
    min-width: 5rem;
}
.road-bg1.road .part-8 span {
    top: 2.7rem !important;
}
.road .part-8 span {
    top: 2.5rem !important
}

.road-bg1, .road-bg2 .part-8 span {
    border-bottom: .4rem solid #fff;
}

.road-bg2 .part-8 span {
    height: 4rem
}

.road-bg2 .part-8 span.am-fl {
    left: 1.5rem !important;
    width: calc((100% - 4rem) / 3)
}

.road-hint-right {
    top: -4rem;
    right: 15%;
    transform: rotate(-90deg);
}

.road-hint-left, .road-hint-right {
    width: 1rem;
    color: #F1C51C;
    font-size: 3rem;
}

.road-hint-left {
    bottom: -260%;
    left: 25%;
    transform: rotate(90deg);
}

.road-bg2 .part-8 span.am-fl.center {
    top: 3.2rem !important;
    left: calc((100% - 4rem) / 3 + 1.5rem) !important;
    border: 0
}

.road-bg2 .part-8 span.am-fr {
    right: 1.5rem !important;
    width: calc((100% - 4rem) / 3)
}

.road-bg3 .part-8 span {
    height: 4rem;
    border-bottom: .4rem solid #fff;
}

.road-bg3 .part-8 span.am-fl {
    left: 1.5rem !important;
    width: calc((100% - 4rem) / 3)
}

.road-bg3 .part-8 span.am-fr {
    right: 1.5rem !important;
    width: calc((100% - 4rem) / 3)
}

.road-bg3 .part-8 span.am-fl img {
    position: absolute;
    top: .8rem;
    left: -4rem;
}

.road-bg3 .part-8 span.am-fr img {
    position: absolute;
    top: .8rem;
    right: -4rem
}
.road-bg1 .part-8 span img {
    top: 2rem;
    right: -4rem;
    /*height: 4rem;*/
}
.road-tree {
    /*background-color: #CBD6B6;*/
}

.road-tree .control-bg {
    height: 5rem;
}

.road-tree .col-end {
    border-top: .4rem solid #F2E0D4;
    border-bottom: .4rem solid #F2E0D4;
}

.col-lg-10, .col-sm-10, hr {
    width: 87%
}


.tree .part-8, .tree .part-8.am-cf {
    height: 4rem;
    border-color: transparent;
    line-height: 4rem;
}

.top-msg .col-end {
    height: 10rem
}

.control-bg {
    height: 6.5rem;
    background-color: #f7f7f7 !important;
}

.col-end {
    padding-left: 4rem
}

.control {
    top: 75%;
    bottom: 0;
    z-index: 99999;
    width: 80%;
    text-align: right;
    /*font-weight: 700;*/
    font-size: 1.5rem
}

.control img {
    width: 3.5rem;
    max-width: 3.5rem;
    min-width: 3.5rem;
    /*border-radius: 50%;*/
    /*box-shadow: rgba(9, 9, 9, .14) 0 2px 6px, rgba(9, 9, 9, .36) 0 1px 2px;*/
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
    /*background-color: #fff;*/
}

.control .am-fl, .control .am-fr {
    height: 2.5rem;
    line-height: 2.5rem;
    color: #474747;
    font-size: 1.6rem;
}

.control .am-fl {
    text-align: left;
    /*filter: contrast(200%);*/
}

.road .center img {
    width: 5rem;
    min-width: 5rem
}

.region {
    height: .4rem !important;
    border-top: .4rem solid transparent !important;
    border-right-color: transparent !important
}

.region.active {
    border-color: #eaa228 !important;
    opacity: .85
}

.size {
    height: 6rem
}
.part-4{
    width:calc(100%/4);
    height: 100%;
}
.tree{
    height: 6rem;
}

.tree img {
    bottom: 0;
    /* top: 4rem; */
    position: absolute;
}
.tree>div.part-4:nth-child(odd) img:first-child{
    left:0;
    z-index: 999;
}
.tree>div.part-4:nth-child(odd) img:last-child{
    left: 5rem;
    width: 3rem;
}
.tree>div.part-4:nth-child(even) img:first-child{
    left:0;

}
.tree>div.part-4:nth-child(even) img:nth-child(2){
    left:13rem;
    z-index: 999;
}
.tree>div.part-4:nth-child(even) img:last-child{
    left: 18rem;
    width: 3rem;
}
.road-middle {
    /*border-bottom: .5rem solid #dcdcdc*/
}
/*.road-middle2{*/
    /*height:0;*/
/*}*/
.road-middle2{
    height: .4rem;
}
.road-middle2  .col-end{
    height: .4rem;
    background-color: #dcdcdc;
    width: 87%;
}
.road-middle2 .control-bg{
    height: .4rem;
}