.light{
    height: 50px;
    position: relative;
}
.light-view{
    border:1px solid #bbb;
}
.btn{
    height: 40px;
}
.switch-part>div{
    height: 100%;
}
.switch-part>div:first-child{
    width:20%;
}
.switch-part>div:nth-child(2){
    width:25%;
}
.switch-part>div:nth-child(3){
    width:30%;
}
.switch-part>div:last-child{
    width:25%;
}
.switch-part>div:first-child img{
    width: 50%;
    vertical-align: middle;
}
.on-off{
    border: 2px solid #ccc;
    height: 23px;
    line-height: 23px;
    width: calc(100% - 3px);
    top: 50%;
    margin-top: -13.5px;
    font-size: 13px;
}
.on-off>div:first-child{
    border-right: 2px solid #ccc;
    width:50%;
}
.on-off>div:last-child{
    width:calc(50% - 3px)
}
.on-off>div.active{
    background-color: #2894FF;
    color: #fff;
    border-color: #2894FF;
}
.switch-part{
    width: 30%;
    border: 2px solid #ccc;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
}

.box{
    margin: 20px 0 40px 0;
}
.box-list{
    border-bottom: none;
    width: 99px;
    border-right: 0;
    border-top: 0;
}
.center-box{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    height: 225px;
}
.lamp{
    width: 15px;
    height: 15px;
    margin: 30px 0;
    border: 2px solid #bbb;
    border-radius: 50%;
    background-color: #F0F0F0;
}
.box-part{
    width: 17.8px;
    margin: 0 12px;
    text-align: center;
}
.box-1{
    border: 2px solid #ccc;
}

.hide{
    visibility: hidden;
}


.long-lamp{
    height: 113px;
    width: 10px;
    margin: 0 2.5px;
    border-radius: 0;
    border-color: #bbb;
}
.hint>div.f-l {
    width:300px;
    text-align:left
}

.hint>div.f-l>div {
    height:60px
}

.hint label {
    width: 45px;
    display: inline-block;
}

.hint label img {
    width:35px
}

.hint>div.f-l>div>span {
    vertical-align:top;
    display:inline
}
.light.off,.lamp.off{
    background-color: #F0F0F0;
}
.light.on,.lamp.on{
    background-color: #FFFF6F;
}
.light.disconnected,.lamp.disconnected{
    background-color: #FF5151;
}
.light{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #bbb;
    display: inline-block;
}
.on-off.active{
    background-color: #3598db;
    color: #fff;
}
.on-off{
    background-color: #fff;
    color: #333;
    cursor: pointer;
}
.box-part>.lamp:last-child{
    margin-bottom: 5px;
}
.box-part>.lamp:first-child{
    margin-top: 5px;
}