<!doctype html >
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>群控</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" th:href="@{/static/AmazeUI/i/favicon.png}">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" th:href="@{/static/AmazeUI/i/app-icon72x72@2x.png}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/static/AmazeUI/i/app-icon72x72@2x.png}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" th:content="@{/static/AmazeUI/i/app-icon72x72@2x.png}">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" th:href="@{/static/AmazeUI/css/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{/static/AmazeUI/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/range/range.css}"/>
    <!--<link th:href="@{/static/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->
    <!--<script th:src="@{/static/jquery.js}" type="text/javascript"></script>-->
    <script th:src="@{/static/AmazeUI/js/zepto.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/AmazeUI/js/app.js}" type="text/javascript"></script>
    <script th:src="@{/static/AmazeUI/js/amazeui.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/range/range.js}" type="text/javascript"></script>
</head>
<style type="text/css">
    h3 {
        font-weight: bold;
    }

    .title {
        text-align: center;
    }

</style>
<body>
<header class="am-topbar am-topbar-inverse">
    <h1 class="am-topbar-brand">
        <a href="#">C2000演示DEMO</a>
    </h1>
</header>
<div class="main am-text-sm" id="#scene1">
    <form class="am-form">
        <div class="am-g">
            <div class="col-sm-12 col-lg-12">
                <div class="am-form-group ">
                    <label class="">All control:</label>
                    <div class="am-btn-group am-btn-group-xs">
                        <button id="switch" type="button" class="am-btn  total-control  am-btn-sm">ON
                        </button>
                        <button id="switch2" type="button" class="am-btn  total-control active am-btn-sm">OFF
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-12 col-end">
                <div class="am-form-group">
                    <label>选择场景：</label>
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-sm am-btn-group-justify">
                            <button type="button" class="am-btn scene-select active">场景一</button>
                            <button type="button" class="am-btn scene-select">场景二</button>
                            <button type="button" class="am-btn scene-select">场景三</button>
                            <button type="button" class="am-btn scene-select">场景四</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-g color-temperature am-margin-top-20">
            <div class="col-sm-2 col-lg-2  title-max">
                <label>色温:</label>
            </div>
            <div class="col-sm-10 col-lg-10 col-end">
                <div class="range p-r">
                    <span class="show-hint">0%</span>
                    <input type="range" value="0" touchmove="change(this)" id="color">
                </div>
            </div>
        </div>
        <div class="am-g lightness am-margin-top-20">
            <div class="col-sm-2 col-lg-2 title-max">
                <label>亮度:</label>
            </div>
            <div class="col-sm-10 col-lg-10 col-end">
                <div class="range p-r">
                    <span class="show-hint">0%</span>
                    <input type="range" value="0" touchmove="change(this)" id="luminance">
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    $('.am-btn-group .total-control,.am-btn-group  .scene-select').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
    });
    var host = "all";
    var cmd;
    $("#switch").click(function () {
        cmd = "77010315373766";
        $.post("/nradio/send", {"host": host, "cmd": cmd}, function (data) {
            console.log(data);
        });
    });
    $("#switch2").click(function () {
        cmd = "77010315323266";
        $.post("/nradio/send", {"host": host, "cmd": cmd}, function (data) {
            console.log(data);
        });
    });
    function change(val) {
        var id = $(val).attr("id");
        var color, luminance;
        if (id == 'color') {
            color = $(val).val();
            luminance = $("#luminance").val();
        } else {
            luminance = $(val).val();
            color = $("#color").val();
        }
        console.log(color, luminance);
        $.post("/nradio/change",{"color":color,"luminance":luminance},function (data) {
            console.log(data);
        })
    };

    $(".scene-select").click(function () {
        var text = $(this).text();
        switch (text){
            case "场景一":
                cmd = "7701021901";
                break;
            case "场景二":
                cmd = "7701021902";
                break;
            case "场景三":
                cmd = "7701021903";
                break;
            case "场景四":
                cmd = "7701021904";
                break;
        }
        $.post("/nradio/send", {"host": host, "cmd": cmd}, function (data) {
            console.log(data);
        });
    });

    $(' .color-temperature input').RangeSlider({min: 0, max: 100, step: 5, callback: change});//#snrPollInterval为input的id名
    $(' .lightness input').RangeSlider({min: 0, max: 100, step: 5, callback: change});
</script>
<script type="text/javascript">
    let socket;
    $(function () {
        let url = location.host;
        console.log(location.href, url);
        $.getJSON("/getHost", function (data) {
            $.each(data, function (i, val) {
                $("#hosts").append("<option value='" + val.host_id + "'>" + val.mesh_id + "</option>");
                $("#master").append("<option value='" + val.host_id + "'>" + val.mesh_id + "</option>");
            });
        });
        if (typeof (WebSocket) == "undefined") {
            console.log("遗憾：您的浏览器不支持WebSocket");
        } else {
            socket = new WebSocket("ws://" + url + "/ws/webSocket");


            //连接打开事件
            socket.onopen = function () {
                console.log("Socket 已打开！");
            };
            //收到消息事件
            socket.onmessage = function (result) {
                console.log("type", typeof result, "receive", result.data);
            }
        }
    });
</script>
</body>
</html>