<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/static/css/base.css}">
    <link rel="stylesheet" th:href="@{/static/css/monitor2.css}">
    <title>The Office</title>
</head>
<body>
<div class="container">
    <h3>The Office</h3>
    <div class="clearfix office">
        <div class="f-l clearfix left-part">
            <div class="part-one f-l">
                <div class="place01 a clearfix p-r">
                    <p class="f-r num p-a a">A</p>
                    <span class="cricle p-a a"></span>
                    <div class="f-l light-line ">
                    </div>
                    <div class="f-l light-line ">
                    </div>
                    <div class="f-l light-line ">
                    </div>
                    <div class="f-l light-line ">
                        <span class="hide"></span>
                        <span class="hide"></span>
                        <span class="hide"></span>
                        <span class="air">空调</span>
                    </div>
                    <div class="f-l light-line " th:each="lightState,user:${lightState}" th:if="${lightState.group}==1">
                        <span class="hide"></span>
                        <span class="hide"></span>
                        <span th:if="${lightState.status}==0" class="on" th:alt="${user.index}"></span>
                        <span th:if="${lightState.status}==1" class="off" th:alt="${user.index}"></span>
                        <span th:if="${lightState.status}==null" class="disconnected" th:alt="${user.index}"></span>
                        <span class="hide"></span>
                    </div>
                </div>
                <div class="place02 b clearfix p-r">
                    <p class="f-r num p-a b">B</p>
                    <span class="cricle p-a b"></span>
                    <div class="pillar-square b1 p-a"></div>
                    <div class="f-l light-line ">
                        <span class="hide"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==2 and ${lightState.status}==0 and ${user.index}&lt;4"
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==2 and ${lightState.status}==1 and ${user.index}&lt;4"
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==2 and ${lightState.status}==null and ${user.index}&lt;4"
                              class="disconnected" th:alt="${user.index}"></span>
                    </div>
                    <div class="f-l light-line">
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==2 and ${lightState.status}==0 and ${user.index}&gt;3  and  ${user.index}&lt;8"
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==2 and ${lightState.status}==1 and ${user.index}&gt;3 and  ${user.index}&lt;8"
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==2 and ${lightState.status}==null and ${user.index}&gt;3  and  ${user.index}&lt;8"
                              class="disconnected" th:alt="${user.index}"></span>
                    </div>
                </div>
                <div class="place03 c clearfix p-r">
                    <p class="f-r num p-a c">C</p>
                    <div class="f-l light-line">
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==3 and ${lightState.status}==0 and   ${user.index}&lt;12 and ${user.index}&gt;7"
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==3 and ${lightState.status}==1 and    ${user.index}&lt;12 and ${user.index}&gt;7"
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==3 and ${lightState.status}==null and  ${user.index}&lt;12 and ${user.index}&gt;7"
                              class="disconnected" th:alt="${user.index}"></span>
                    </div>
                </div>
            </div>
            <div class="part-two f-l">
                <div class="place04 d clearfix p-r">
                    <p class="f-r num p-a d">D</p>
                    <div class="f-l light-line ">
                        <span class="hide"></span>
                        <span class="hide"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==0 and   ${user.index}&lt;14 and ${user.index}&gt;11"
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==1 and    ${user.index}&lt;14 and ${user.index}&gt;11"
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==null and   ${user.index}&lt;14 and ${user.index}&gt;11"
                              class="disconnected" th:alt="${user.index}"></span>
                    </div>
                    <div class="f-l light-line">
                        <span class="air">空调</span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==0 and ${user.index}&gt;13  and  ${user.index}&lt;16 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==1 and ${user.index}&gt;13  and  ${user.index}&lt;16  "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==null   and ${user.index}&gt;13  and  ${user.index}&lt;16"
                              class="disconnected" th:alt="${user.index}"></span>
                        <span class="air">空调</span>
                    </div>
                    <div class="f-l light-line">
                        <span class="hide"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==0 and ${user.index}&gt;15  and  ${user.index}&lt;19 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==1 and ${user.index}&gt;15  and  ${user.index}&lt;19  "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==null   and ${user.index}&gt;15  and  ${user.index}&lt;19"
                              class="disconnected" th:alt="${user.index}"></span>
                    </div>
                    <div class="f-l light-line">
                        <!--<span class="hide"></span>-->
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==0 and ${user.index}&gt;18  and  ${user.index}&lt;22 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==1 and ${user.index}&gt;18  and  ${user.index}&lt;22  "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==4 and ${lightState.status}==null   and ${user.index}&gt;18  and  ${user.index}&lt;22"
                              class="disconnected" th:alt="${user.index}"></span>
                        <span class="air">空调</span>
                    </div>
                </div>
                <div class="place05 d clearfix p-r">
                    <p class="f-r num p-a e">E</p>
                    <div class="f-l light-line ">
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==0 and ${user.index}&gt;21  and  ${user.index}&lt;26 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==1 and ${user.index}&gt;21  and  ${user.index}&lt;26  "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==null   and ${user.index}&gt;21  and  ${user.index}&lt;26"
                              class="disconnected" th:alt="${user.index}"></span>
                    </div>
                    <div class="f-l light-line">
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==0 and ${user.index}&gt;25  and  ${user.index}&lt;30 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==1 and ${user.index}&gt;25  and  ${user.index}&lt;30  "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==null   and ${user.index}&gt;25  and  ${user.index}&lt;30"
                              class="disconnected" th:alt="${user.index}"></span>
                    </div>
                    <div class="f-l light-line">
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==0 and ${user.index}&gt;29  and  ${user.index}&lt;33 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==1 and ${user.index}&gt;29  and  ${user.index}&lt;33  "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==null   and ${user.index}&gt;29  and  ${user.index}&lt;33"
                              class="disconnected" th:alt="${user.index}"></span>
                        <span class="air">空调</span>
                    </div>
                    <div class="f-l light-line">
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==0 and ${user.index}&gt;32  and  ${user.index}&lt;37 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==1 and ${user.index}&gt;32  and  ${user.index}&lt;37 "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==5 and ${lightState.status}==null   and ${user.index}&gt;32  and  ${user.index}&lt;37"
                              class="disconnected" th:alt="${user.index}"></span>
                    </div>
                </div>
            </div>
            <div class="part-three f-l">
                <div class="place06  f clearfix p-r">
                    <p class="f-r num p-a f">F</p>
                    <div class="f-l light-line" th:each="lightState,user:${lightState}" th:if="${lightState.group}==6">
                        <span th:if="${lightState.status}==0" class="on" th:alt="${user.index}"></span>
                        <span th:if="${lightState.status}==1" class="off" th:alt="${user.index}"></span>
                        <span th:if="${lightState.status}==null" class="disconnected" th:alt="${user.index}"></span>
                    </div>
                </div>
            </div>
            <div class="part-four f-l">
                <div class="place07 clearfix p-r">
                    <p class="f-r num p-a g">G</p>
                    <div class="pillar-square g1 p-a"></div>
                    <div class="pillar-square g2 p-a"></div>
                    <div class="f-l light-line">
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==0 and ${user.index}&gt;44  and  ${user.index}&lt;50 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==1 and ${user.index}&gt;44  and  ${user.index}&lt;50 "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==null   and ${user.index}&gt;44  and  ${user.index}&lt;50"
                              class="disconnected" th:alt="${user.index}"></span>
                        <span class="hide"> </span>
                    </div>
                    <div class="f-l light-line">
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==0 and ${user.index}&gt;49  and  ${user.index}&lt;52 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==1 and ${user.index}&gt;49  and  ${user.index}&lt;52 "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==null   and ${user.index}&gt;49  and  ${user.index}&lt;52"
                              class="disconnected" th:alt="${user.index}"></span>
                        <span class="air" alt="空调1">空调</span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==0 and ${user.index}&gt;51  and  ${user.index}&lt;54 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==1 and ${user.index}&gt;51   and  ${user.index}&lt;54 "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==null   and ${user.index}&gt;51   and  ${user.index}&lt;54"
                              class="disconnected" th:alt="${user.index}"></span>
                        <span class="hide"></span>
                    </div>
                    <div class="f-l light-line">
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==0 and ${user.index}&gt;53  and  ${user.index}&lt;59 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==1 and ${user.index}&gt;53  and  ${user.index}&lt;59 "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==null   and ${user.index}&gt;53  and  ${user.index}&lt;59"
                              class="disconnected" th:alt="${user.index}"></span>
                        <span class="hide"></span>
                    </div>
                    <div class="f-l light-line">

                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==0 and ${user.index}&gt;58  and  ${user.index}&lt;61 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==1 and ${user.index}&gt;58  and  ${user.index}&lt;61 "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==null   and ${user.index}&gt;58  and  ${user.index}&lt;61"
                              class="disconnected" th:alt="${user.index}"></span>
                        <span class="air" alt="空调2">空调</span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==0 and ${user.index}&gt;60  and  ${user.index}&lt;63 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==1 and ${user.index}&gt;60  and  ${user.index}&lt;63 "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==null   and ${user.index}&gt;60  and  ${user.index}&lt;63"
                              class="disconnected" th:alt="${user.index}"></span>
                        <span class="hide"> </span>
                    </div>
                    <div class="f-l light-line">
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==0 and ${user.index}&gt;62  and  ${user.index}&lt;68 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==1 and ${user.index}&gt;62  and  ${user.index}&lt;68 "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==7 and ${lightState.status}==null   and ${user.index}&gt;62  and  ${user.index}&lt;68"
                              class="disconnected" th:alt="${user.index}"></span>
                        <span class="hide"> </span>
                    </div>
                </div>
                <div class="clearfix merge">
                    <div class="place08 f-l b p-r">
                        <p class="f-r num p-a h">H</p>
                        <div class="pillar-square  h1 p-a"></div>
                        <div class="f-l light-line ">
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==8 and ${lightState.status}==0 and ${user.index}&gt;67  and  ${user.index}&lt;70 "
                                  class="on" th:alt="${user.index}"></span>
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==8 and ${lightState.status}==1 and ${user.index}&gt;67  and  ${user.index}&lt;70 "
                                  class="off" th:alt="${user.index}"></span>
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==8 and ${lightState.status}==null   and ${user.index}&gt;67  and  ${user.index}&lt;70"
                                  class="disconnected" th:alt="${user.index}"></span>
                        </div>
                        <div class="f-l light-line ">
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==8 and ${lightState.status}==0 and ${user.index}&gt;69  and  ${user.index}&lt;72 "
                                  class="on" th:alt="${user.index}"></span>
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==8 and ${lightState.status}==1 and ${user.index}&gt;69  and  ${user.index}&lt;72 "
                                  class="off" th:alt="${user.index}"></span>
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==8 and ${lightState.status}==null   and ${user.index}&gt;69  and  ${user.index}&lt;72"
                                  class="disconnected" th:alt="${user.index}"></span>
                        </div>
                    </div>
                    <div class="place09 b f-l p-r">
                        <p class="f-r num p-a i">I</p>
                        <div class="pillar-square  I2 p-a"></div>
                        <div class="f-l light-line">
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==9 and ${lightState.status}==0 and ${user.index}&gt;71  and  ${user.index}&lt;75 "
                                  class="on" th:alt="${user.index}"></span>
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==9 and ${lightState.status}==1 and ${user.index}&gt;71  and  ${user.index}&lt;75 "
                                  class="off" th:alt="${user.index}"></span>
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==9 and ${lightState.status}==null   and ${user.index}&gt;71  and  ${user.index}&lt;75"
                                  class="disconnected" th:alt="${user.index}"></span>
                            <span class="hide"></span>
                        </div>
                        <div class="f-l light-line">
                            <span class="air">空调</span>
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==9 and ${lightState.status}==0 and ${user.index}&gt;74  and  ${user.index}&lt;78 "
                                  class="on" th:alt="${user.index}"></span>
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==9 and ${lightState.status}==1 and ${user.index}&gt;74  and  ${user.index}&lt;78 "
                                  class="off" th:alt="${user.index}"></span>
                            <span th:each="lightState,user:${lightState}"
                                  th:if="${lightState.group}==9 and ${lightState.status}==null   and ${user.index}&gt;74  and  ${user.index}&lt;78"
                                  class="disconnected" th:alt="${user.index}"></span>
                        </div>
                    </div>
                </div>
                <div class="place10 j clearfix  p-r">
                    <p class="f-r num p-a j">J</p>
                    <div class="f-l light-line ">
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==10 and ${lightState.status}==0 and ${user.index}&gt;77  and  ${user.index}&lt;85 "
                              class="on" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==10 and ${lightState.status}==1 and ${user.index}&gt;77  and  ${user.index}&lt;85 "
                              class="off" th:alt="${user.index}"></span>
                        <span th:each="lightState,user:${lightState}"
                              th:if="${lightState.group}==10 and ${lightState.status}==null   and ${user.index}&gt;77  and  ${user.index}&lt;85"
                              class="disconnected" th:alt="${user.index}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="f-l right-part">
            <div class="place-title p-r">
                <p style="font-size: 15px;font-weight: bold;">The Office
                <p/>
                <div class="clearfix ">
                    <div class="right ">
                        <div class="line clearfix" style="padding-bottom: 0;">
                            <div class="f-l icon p-a">
                                <img src="" alt="" class="total-frame">
                            </div>
                            <div class="f-r right-content">
                                <label class="caption"></label>
                            <span class="frame on-off clearfix active total-frame">
                                 <span class="f-l" id="total-on" alt="total-on">ON</span>
                                 <span class="f-l" id="total-off" alt="total-off">OFF</span>
                            </span>
                             <span class="page ">
                                <span th:if="${#lists.size(centerLNumList)}&gt;0 " th:text="${centerLNumList[0].centerLNum}"
                                      class="total-page"></span>
                                   <span class="total-page" th:if="${#lists.size(centerLNumList)}==0" >0</span>/
                                <span>84</span>
                            </span>
                            </div>

                        </div>
                        <div class="line clearfix">
                            <div class="f-l icon p-a">

                            </div>
                            <div class="f-r right-content">
                                <label class=" caption">Scenes</label>
                                <select name="" id="" class="frame">
                                    <option value="场景一">scence 01</option>
                                    <option value="场景二">scence 02</option>
                                    <option value="场景三">scence 03</option>
                                    <option value="场景四">scence 04</option>
                                </select>
                            <span class="page">
                            </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="place-list  p-r">
                <div class=" place-status-list ">
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img src="" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">A:Place0<span>1</span></label>
                             <span class="frame on-off clearfix "  >
                                 <span class="f-l ">ON</span>
                                 <span class="f-l ">OFF</span>
                            </span>
                        <span class="page">
                            <span >0</span>/
                            <span >1</span>
                        </span>
                        </div>
                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img src="" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">B:Place0<span>2</span></label>
                             <span class="frame on-off clearfix "  >
                                 <span class="f-l ">ON</span>
                                 <span class="f-l ">OFF</span>
                            </span>
                        <span class="page">
                            <span >0</span>/
                            <span >7</span>
                        </span>
                        </div>
                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img src="" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">C:Place0<span>3</span></label>
                             <span class="frame on-off clearfix "  >
                                 <span class="f-l ">ON</span>
                                 <span class="f-l ">OFF</span>
                            </span>
                        <span class="page">
                            <span >0</span>/
                            <span >4</span>
                        </span>
                        </div>
                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img src="" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">D:Place0<span>4</span></label>
                             <span class="frame on-off clearfix "  >
                                 <span class="f-l ">ON</span>
                                 <span class="f-l ">OFF</span>
                            </span>
                        <span class="page">
                            <span >0</span>/
                            <span >10</span>
                        </span>
                        </div>
                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img src="" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">E:Place0<span>5</span></label>
                             <span class="frame on-off clearfix "  >
                                 <span class="f-l ">ON</span>
                                 <span class="f-l ">OFF</span>
                            </span>
                        <span class="page">
                            <span >0</span>/
                            <span >15</span>
                        </span>
                        </div>
                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img src="" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">F:Place0<span>6</span></label>
                             <span class="frame on-off clearfix "  >
                                 <span class="f-l ">ON</span>
                                 <span class="f-l ">OFF</span>
                            </span>
                        <span class="page">
                            <span >0</span>/
                            <span >8</span>
                        </span>
                        </div>
                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img src="" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">G:Place0<span>7</span></label>
                             <span class="frame on-off clearfix "  >
                                 <span class="f-l ">ON</span>
                                 <span class="f-l ">OFF</span>
                            </span>
                        <span class="page">
                            <span >0</span>/

                            <span >23</span>
                        </span>
                        </div>
                    </div>
                    <div class="place-status clearfix line">
                    <div class="f-l icon ">
                        <img src="" alt="">
                    </div>
                    <div class="f-r right-content">
                        <label class="caption">H:Place0<span>8</span></label>
                             <span class="frame on-off clearfix "  >
                                 <span class="f-l ">ON</span>
                                 <span class="f-l ">OFF</span>
                            </span>
                        <span class="page">
                            <span >0</span>/

                            <span >4</span>
                        </span>
                    </div>
                </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img src="" alt="">
                        </div>
                        <div class="f-r right-content">

                            <label class="caption">I:Place0<span>9</span></label>
                             <span class="frame on-off clearfix "  >
                                 <span class="f-l ">ON</span>
                                 <span class="f-l ">OFF</span>
                            </span>
                        <span class="page">
                            <span >0</span>/

                            <span >6</span>
                        </span>
                        </div>
                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img src="" alt="">
                        </div>
                        <div class="f-r right-content">

                            <label class="caption">J:Place<span>10</span></label>
                             <span class="frame on-off clearfix "  >
                                 <span class="f-l ">ON</span>
                                 <span class="f-l ">OFF</span>
                            </span>
                        <span class="page">
                            <span >0</span>/
                            <span >6</span>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="door p-r">
        <span class="left-line p-a"></span>
        <span class="right-line p-a"></span>
        <div class="">Door</div>
    </div>
    <div class="clearfix hint">
        <div class="f-l">
            <div>
                <label>
                    <span class="air">空调</span>
                </label>
                <span>Air conditioner</span>
            </div>
            <div>
                <label>
                    <span class="pillar-square"></span>
                </label>
                <span>Pillar</span>
            </div>
            <div>
                <label>
                    <span class="cricle"></span>
                </label>
                <span>Pillar</span>
            </div>
        </div>
        <div class="f-l ">
            <div>
                <label>
                    <span class="off light"></span>
                </label>
                <span>Light is off</span>
            </div>
            <div>
                <label>
                    <span class="on light"></span>
                </label>
                <span>Light is on</span>
            </div>
            <div>
                <label>
                    <span class="light disconnected">X</span>
                </label>
                <span>Light is disconnected</span>
            </div>
        </div>
        <div class="f-l">
            <div>
                <label class="state">
                    <span><img th:src="@{/static/img/1.png}" alt=""></span>
                </label>
                <span>Place内灯的开关状态不一致</span>
            </div>
            <div>
                <label class="state">
                    <span> <img th:src="@{/static/img/2.png}" alt=""></span>
                </label>
                <span>Place内有灯断连</span>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/static/jquery-3.1.1.min.js}"></script>
<script th:inline="javascript" th:src="@{/static/monitor2.js}"></script>
</body>
</html>