<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/static/css/base.css}">
    <link rel="stylesheet" th:href="@{/static/css/monitor2.css}">
    <title>The Office</title>
</head>
<body>
<div class="container">
    <h3>The Office</h3>
    <div class="clearfix office">
        <div class="f-l clearfix left-part">
            <div class="part-one f-l">
                <div class="place01 a clearfix p-r">
                    <p class="f-r num p-a a">A</p>
                    <span class="cricle p-a a"></span>
                    <div class="f-l light-line ">
                    </div>
                    <div class="f-l light-line ">
                    </div>
                    <div class="f-l light-line ">
                    </div>
                    <div class="f-l light-line ">
                        <span class="hide"></span>
                        <span class="hide"></span>
                        <span class="hide"></span>
                        <span class="air">空调</span>
                    </div>
                    <div class="f-l light-line ">
                        <span class="hide"></span>
                        <span class="hide"></span>
                        <span></span>
                        <span class="hide"></span>
                    </div>
                </div>
                <div class="place02 b clearfix p-r">
                    <p class="f-r num p-a b">B</p>
                    <span class="cricle p-a b"></span>
                    <div class="pillar-square b1 p-a"></div>
                    <div class="f-l light-line ">
                        <span class="hide"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="f-l light-line">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                </div>
                <div class="place03 c clearfix p-r">
                    <p class="f-r num p-a c">C</p>
                    <div class="f-l light-line">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="part-two f-l">
                <div class="place04 d clearfix p-r">
                    <p class="f-r num p-a d">D</p>
                    <div class="f-l light-line ">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="f-l light-line">
                        <span class="air">空调</span>
                        <span></span>
                        <span></span>
                        <span class="air">空调</span>
                    </div>
                    <div class="f-l light-line">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="f-l light-line">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="air">空调</span>
                    </div>
                </div>
                <div class="place05 d clearfix p-r">
                    <p class="f-r num p-a e">E</p>
                    <div class="f-l light-line ">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="f-l light-line">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="f-l light-line">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="air">空调</span>
                    </div>
                    <div class="f-l light-line">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="part-three f-l">
                <div class="place06  f clearfix p-r">
                    <p class="f-r num p-a f">F</p>
                    <div class="f-l light-line">
                        <span> </span>
                    </div>
                    <div class="f-l light-line">
                        <span> </span>
                    </div>
                    <div class="f-l light-line">
                        <span> </span>
                    </div>
                    <div class="f-l light-line">
                        <span> </span>
                    </div>
                    <div class="f-l light-line">
                        <span> </span>
                    </div>
                    <div class="f-l light-line">
                        <span> </span>
                    </div>
                    <div class="f-l light-line">
                        <span> </span>
                    </div>
                    <div class="f-l light-line">
                        <span> </span>
                    </div>

                </div>
            </div>
            <div class="part-four f-l">
                <div class="place07 clearfix p-r">
                    <p class="f-r num p-a g">G</p>
                    <div class="pillar-square g1 p-a"></div>
                    <div class="pillar-square g2 p-a"></div>
                    <div class="f-l light-line">
                        <span> </span>
                        <span> </span>
                        <span> </span>
                        <span> </span>
                        <span> </span>
                        <span class="hide"> </span>
                    </div>
                    <div class="f-l light-line">

                        <span></span>
                        <span></span>
                        <span class="air">空调</span>
                        <span></span>
                        <span></span>
                        <span class="hide"></span>
                    </div>
                    <div class="f-l light-line">

                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="hide"></span>
                    </div>
                    <div class="f-l light-line">

                        <span></span>
                        <span></span>
                        <span class="air">空调</span>
                        <span></span>
                        <span></span>
                        <span class="hide"> </span>
                    </div>
                    <div class="f-l light-line">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="hide"> </span>
                    </div>
                </div>
                <div class="clearfix merge">
                    <div class="place08 f-l b p-r">
                        <p class="f-r num p-a h">H</p>
                        <div class="pillar-square  h1 p-a"></div>

                        <div class="f-l light-line ">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="f-l light-line ">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="place09 b f-l p-r">
                        <p class="f-r num p-a i">I</p>
                        <div class="pillar-square  I2 p-a"></div>
                        <div class="f-l light-line ">
                            <span class="disconnected"></span>
                            <span class="on"></span>
                            <span class="off"></span>
                            <span class="hide"></span>
                        </div>
                        <div class="f-l light-line">
                            <span class="air">空调</span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="place10 j clearfix  p-r">
                    <p class="f-r num p-a j">J</p>
                    <div class="f-l light-line ">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="f-l right-part">
            <div class="place-title p-r">
                <p style="font-size: 15px;font-weight: bold;">The Office
                <p/>
                <div class="clearfix ">

                    <div class="right ">

                        <div class="line clearfix">
                            <div class="f-l icon p-a">
                                <!--<img th:src="@{/static/img/1.png}" alt="">-->
                            </div>
                            <div class="f-r right-content">
                                <label class="caption"></label>
                            <span class="frame on-off clearfix active">
                                 <span class="f-l">ON</span>
                                 <span class="f-l">OFF</span>
                            </span>
                             <span class="page">
                                <span>84</span>/
                                <span>84</span>
                            </span>
                            </div>

                        </div>
                        <div class="line clearfix">
                            <div class="f-l icon p-a">
                                <img th:src="@{/static/img/1.png}" alt="">
                            </div>
                            <div class="f-r right-content">
                                <label class=" caption">Scenes</label>

                                    <select name="" id="" class="frame" >
                                        <option value="">scence 01</option>
                                        <option value="">scence 02</option>
                                        <option value="">scence 03</option>
                                        <option value="">scence 04</option>
                                    </select>

                            <span class="page">
                                <!--<span>12</span>/-->
                                <!--<span>12</span>-->
                            </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="place-list  p-r">
                <!--<div class="f-l icon p-a">-->
                <!--<img th:src="@{/static/img/1.png}" alt="">-->
                <!--</div>-->
                <div class=" place-status-list ">
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img th:src="@{/static/img/1.png}" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">A:Place01</label>
                        <span class="frame on-off clearfix ">
                                 <span class="f-l active">ON</span>
                                 <span class="f-l">OFF</span>
                            </span>
                        <span class="page">
                            <span>12</span>/
                            <span>12</span>
                        </span>
                        </div>

                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img th:src="@{/static/img/1.png}" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">B:Place02</label>
                        <span class="frame on-off clearfix on">
                                 <span class="f-l">ON</span>
                                 <span class="f-l">OFF</span>
                            </span>
                        <span class="page">
                            <span>12</span>/
                            <span>12</span>
                        </span>
                        </div>

                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img th:src="@{/static/img/1.png}" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">C:Place03</label>
                        <span class="frame on-off clearfix on">
                                 <span class="f-l">ON</span>
                                 <span class="f-l">OFF</span>
                            </span>
                        <span class="page">
                            <span>12</span>/
                            <span>12</span>
                        </span>
                        </div>

                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img th:src="@{/static/img/1.png}" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">D:Place04</label>
                        <span class="frame on-off clearfix on">
                                 <span class="f-l">ON</span>
                                 <span class="f-l">OFF</span>
                            </span>
                        <span class="page">
                            <span>12</span>/
                            <span>12</span>
                        </span>
                        </div>

                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img th:src="@{/static/img/1.png}" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">E:Place05</label>
                        <span class="frame on-off clearfix on">
                                 <span class="f-l">ON</span>
                                 <span class="f-l">OFF</span>
                            </span>
                        <span class="page">
                            <span>12</span>/
                            <span>12</span>
                        </span>
                        </div>

                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img th:src="@{/static/img/1.png}" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">F:Place06</label>
                        <span class="frame on-off clearfix on">
                                 <span class="f-l">ON</span>
                                 <span class="f-l">OFF</span>
                            </span>
                        <span class="page">
                            <span>12</span>/
                            <span>12</span>
                        </span>
                        </div>

                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img th:src="@{/static/img/1.png}" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">G:Place07</label>
                        <span class="frame on-off clearfix on">
                                 <span class="f-l">ON</span>
                                 <span class="f-l">OFF</span>
                            </span>
                        <span class="page">
                            <span>12</span>/
                            <span>12</span>
                        </span>
                        </div>

                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img th:src="@{/static/img/1.png}" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">H:Place08</label>
                        <span class="frame on-off clearfix on">
                                 <span class="f-l">ON</span>
                                 <span class="f-l">OFF</span>
                            </span>
                        <span class="page">
                            <span>12</span>/
                            <span>12</span>
                        </span>
                        </div>

                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img th:src="@{/static/img/1.png}" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">I:Place09</label>
                        <span class="frame on-off clearfix on">
                                 <span class="f-l">ON</span>
                                 <span class="f-l">OFF</span>
                            </span>
                        <span class="page">
                            <span>12</span>/
                            <span>12</span>
                        </span>
                        </div>

                    </div>
                    <div class="place-status clearfix line">
                        <div class="f-l icon ">
                            <img th:src="@{/static/img/1.png}" alt="">
                        </div>
                        <div class="f-r right-content">
                            <label class="caption">J:Place10</label>
                        <span class="frame on-off clearfix on">
                                 <span class="f-l">ON</span>
                                 <span class="f-l">OFF</span>
                            </span>
                        <span class="page">
                            <span>12</span>/
                            <span>12</span>
                        </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="door p-r">
        <span class="left-line p-a"></span>
        <span class="right-line p-a"></span>
        <div class="">Door</div>
    </div>
    <div class="clearfix hint">
        <div class="f-l">
            <div>
                <label>
                    <span class="air">空调</span>
                </label>
                <span>Air conditioner</span>
            </div>
            <div>
                <label>
                    <span class="pillar-square"></span>
                </label>
                <span>Pillar</span>
            </div>
            <div>
                <label>
                    <span class="cricle"></span>
                </label>
                <span>Pillar</span>
            </div>
        </div>
        <div class="f-l ">
            <div>
                <label>
                    <span class="off light"></span>
                </label>
                <span>Light is off</span>
            </div>
            <div>
                <label>
                    <span class="on light"></span>
                </label>
                <span>Light is on</span>
            </div>
            <div>
                <label>
                    <span class="light disconnected">X</span>
                </label>
                <span>Light is on</span>
            </div>
        </div>
        <div class="f-l">
            <div>
                <label class="state">
                    <span><img th:src="@{/static/img/1.png}" alt=""></span>

                </label>
                <span>Place内灯的开关状态不一致</span>
            </div>
            <div>
                <label class="state">
                    <span> <img th:src="@{/static/img/2.png}" alt=""></span>
                </label>
                <span>Place内有灯断连</span>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/jquery-3.1.1.min.js}"></script>
<script th:inline="javascript">
        var data=[[${centerLNumList}]];

    $('.frame>span').click(function(){
        console.log($(this).text())
        $(this).addClass('active').siblings('span').removeClass('active');
//        $(this).siblings('span').removeClass('active');
    })
</script>
</body>
</html>