<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/static/css/base.css}">
    <link rel="stylesheet" th:href="@{/static/css/monitor3.css}">
    <title></title>
</head>
<body>
<div class="container">
    <div class="switch clearfix">
        <div class="clearfix switch-part f-l" style="margin-right: 40px;">
            <div class="f-l">
                <img src="" alt="">
            </div>
            <div class="f-l groupOrder">
                Group0<span class="groupName">1</span>
            </div>
            <div class="f-l p-r">
                <div class="clearfix on-off p-a">
                    <div class="f-l">ON</div>
                    <div class="f-l">OFF</div>
                </div>
            </div>
            <div class="f-l page">
                <span>0</span>
                <span>/</span>
                <span>20</span>
            </div>
        </div>

        <div class="clearfix switch-part f-l" style="margin-right: 40px;">
            <div class="f-l">
                <img src="" alt="">
            </div>
            <div class="f-l groupOrder">
                Group0<span class="groupName">2</span>
            </div>
            <div class="f-l p-r">
                <div class="clearfix on-off p-a">
                    <div class="f-l">ON</div>
                    <div class="f-l">OFF</div>
                </div>
            </div>
            <div class="f-l page">
                <span>0</span>
                <span>/</span>
                <span>18</span>
            </div>
        </div>

        <div class="clearfix switch-part f-l">
            <div class="f-l">
                <img src="" alt="">
            </div>
            <div class="f-l groupOrder">
                Group0<span class="groupName">3</span>
            </div>
            <div class="f-l p-r">
                <div class="clearfix on-off p-a">
                    <div class="f-l ">ON</div>
                    <div class="f-l">OFF</div>
                </div>
            </div>
            <div class="f-l page">
                <span>0</span>
                <span>/</span>
                <span>20</span>
            </div>
        </div>
    </div>
    <div class="box clearfix">
        <div class="box-1 f-l clearfix">
            <div class="box-part f-l">
                <div class="lamp" title="1">
                </div>
                <div class="lamp" title="2">
                </div>
                <div class="lamp" title="3">
                </div>
                <div class="lamp" title="4">
                </div>
                <div class="lamp" title="5">
                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp " title="6">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp" title="7">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp" title="8">

                </div>
                <div class="long-lamp lamp" title="9">

                </div>
                <div class="lamp" title="10">

                </div>
            </div>

            <div class="box-part f-l">
                <div class="lamp" title="11">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp" title="12">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp" title="13">
                </div>
                <div class="long-lamp lamp" title="14">

                </div>
                <div class="lamp" title="15">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp  " title="16">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp" title="17">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp" title="18">

                </div>
                <div class="long-lamp lamp" title="19">

                </div>
                <div class="lamp" title="20">

                </div>
            </div>

        </div>

        <div class="center-box f-l">
            <div class="box-part">
                <div class="lamp four" title="59">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp four" title="60">

                </div>
            </div>
        </div>
        <div class="box-1 f-l clearfix">

            <div class="box-part f-l">
                <div class="lamp" title="21">

                </div>
                <div class="long-lamp lamp" title="22">

                </div>
                <div class="lamp" title="23">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp " title="24">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp" title="25">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp" title="26">

                </div>
                <div class="long-lamp lamp" title="27">

                </div>
                <div class="lamp" title="28">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp" title="29">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp" title="30">

                </div>
            </div>


            <div class="box-part f-l">
                <div class="lamp" title="31">

                </div>
                <div class="long-lamp lamp" title="32">

                </div>
                <div class="lamp" title="33">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp" title="34">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp" title="35">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp" title="36">

                </div>
                <div class="long-lamp lamp" title="37">

                </div>
                <div class="lamp" title="38">

                </div>
            </div>

        </div>
        <div class="center-box f-l">
            <div class="box-part">
                <div class="lamp four" title="61">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp four" title="62">

                </div>
            </div>
        </div>
        <div class="box-1 f-l clearfix">

            <div class="box-part f-l">
                <div class="lamp" title="39">

                </div>
                <div class="long-lamp lamp" title="40">

                </div>

                <div class="lamp" title="41">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp " title="42">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp" title="43">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp" title="44">

                </div>
                <div class="long-lamp lamp" title="45">

                </div>
                <div class="lamp" title="46">

                </div>
            </div>

            <div class="box-part f-l">
                <div class="lamp" title="47">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp" title="48">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp" title="49">

                </div>
                <div class="long-lamp lamp" title="50">

                </div>
                <div class="lamp" title="51">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp" title="52">
                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp hide">

                </div>
                <div class="lamp" title="53">

                </div>
            </div>
            <div class="box-part f-l">
                <div class="lamp" title="54">
                </div>
                <div class="lamp" title="55">

                </div>
                <div class="lamp" title="56">

                </div>
                <div class="lamp" title="57">

                </div>
                <div class="lamp" title="58">

                </div>
            </div>

        </div>
    </div>
    <div class="clearfix" style="width: 100%;">
        <div class="clearfix hint f-l">
            <div class="f-l ">
                <div>
                    <label>
                        <span class="off light"></span>
                    </label>
                    <span>Light is off</span>
                </div>
                <div>
                    <label>
                        <span class="on light"></span>
                    </label>
                    <span>Light is on</span>
                </div>
                <div>
                    <label>
                        <span class="light disconnected"></span>
                    </label>
                    <span>Light is disconnected</span>
                </div>
            </div>
            <div class="f-l">
                <div>
                    <label class="state">
                        <span><img th:src="@{/static/img/1.png}" alt=""></span>
                    </label>
                    <span>Place内灯的开关状态不一致</span>
                </div>
                <div>
                    <label class="state">
                        <span> <img th:src="@{/static/img/2.png}" alt=""></span>
                    </label>
                    <span>Place内有灯断连</span>
                </div>
            </div>
        </div>
        <div class="f-r" style="width: 30%;">
            <div class="clearfix switch-part " style="width: 98%;margin-bottom: 20px;">
                <div class="f-l">
                    <img src="" alt="">
                </div>
                <div class="f-l groupOrder">
                    Group0<span class="groupName">4</span>
                </div>
                <div class="f-l p-r">
                    <div class="clearfix on-off p-a">
                        <div class="f-l">ON</div>
                        <div class="f-l">OFF</div>
                    </div>
                </div>
                <div class="f-l page">
                    <span>0</span>
                    <span>/</span>
                    <span>4</span>
                </div>
            </div>
            <div class="clearfix switch-part scene " style="width: 98%;margin-bottom: 20px;">
                <div class="f-l">
                </div>
                <div class="f-l ">
                    Scenes
                </div>
                <div class="f-l p-r">
                    <select name="" id="" class="frame" style="height: 27px;border: 2px solid #ccc;">
                        <option value="场景一">scence 01</option>
                        <option value="场景二">scence 02</option>
                        <option value="场景三">scence 03</option>
                        <option value="场景四">scence 04</option>
                    </select>
                </div>
                <div class="f-l">
                </div>
            </div>
            <div class="clearfix switch-part total " style="width: 98%;">
                <div class="f-l">
                    <img src="" alt="">
                </div>
                <div class="f-l groupOrder">
                    Group<span class="groupName">All</span>
                </div>
                <div class="f-l p-r">
                    <div class="clearfix on-off p-a">
                        <div class="f-l ">ON</div>
                        <div class="f-l">OFF</div>
                    </div>
                </div>
                <div class="f-l page">
                    <span>0</span>
                    <span>/</span>
                    <span>62</span>
                </div>
            </div>
        </div>

    </div>
</div>
<script th:src="@{/static/jquery-3.1.1.min.js}"></script>
<script th:inline="javascript" th:src="@{/static/monitor3.js}"></script>
</body>
</html>