<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>删除组</title>
</head>
<body>
<div class="modal fade"   role="dialog"  tabindex="-10" id="dataReset-modal" th:fragment="dataReset">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >恢复出厂设置</h4>
                <input type="hidden" value="恢复出厂设置">
            </div>
            <div class="modal-body">
                <form action="" class="am-form">
                    <div class="am-form-group">
                        <p class="am-text-sm am-text-left" style="margin: 0;">您确定要恢复出厂设置吗？</p>
                        <p class="am-text-left am-text-sm am-text-danger" style="margin: 0;font-size: 1.2rem">(恢复后，会自动获取现场POE面板内部数据，但当前项目所有数据需从客户端重新上传，请慎重！)</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default reduce" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary yes">确定</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>