<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>删除组</title>
</head>
<body>
<div class="modal fade"   role="dialog"  tabindex="-1" id="deleteGroup-modal" th:fragment="deleteGroup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >删除</h4>
            </div>
            <div class="modal-body">
                <form action="" class="am-form">
                    <div class="am-form-group">
                        <p class="am-text-default am-text-left" style="margin: 0;">您确定要删除该组吗？</p>
                        <p class="am-text-left am-text-sm am-text-danger" style="margin: 0;">删除后，组内中网络的主从设定将无法恢复，请慎重！</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default reduce" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary yes" onclick="createMeshyYes()">确定</button>
            </div>
        </div>
    </div>
    <!--<div class="am-modal-dialog">-->
        <!--<div class="am-modal-hd">删除-->
            <!--<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>-->
        <!--</div>-->
        <!--<div class="am-modal-bd">-->
            <!--<form action="" class="am-form">-->
                <!--<div class="am-form-group">-->
                    <!--<p class="am-text-default am-text-left" style="margin: 0;">您确定要删除该组吗？</p>-->
                    <!--<p class="am-text-left am-text-sm am-text-danger" style="margin: 0;">删除后，组内中网络的主从设定将无法恢复，请慎重！</p>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!--<div class="am-modal-footer">-->
            <!--<span class="am-modal-btn" data-am-modal-cancel>取消</span>-->
            <!--<span class="am-modal-btn" data-am-modal-confirm>确定</span>-->
        <!--</div>-->
    <!--</div>-->
</div>
</body>
</html>