<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>禁止删除面板</title>
</head>
<body>
<!--<div class="am-modal " tabindex="-1" id="deletePanel-modal" th:fragment="deletePanel">-->
    <!--<div class="am-modal-dialog">-->
        <!--<div class="am-modal-hd">删除-->
            <!--<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>-->
        <!--</div>-->
        <!--<div class="am-modal-bd">-->
            <!--<form action="" class="am-form">-->
                <!--<div class="am-form-group">-->
                    <!--<p class="am-text-default am-text-left" style="margin: 0;">您确定要删除该面板吗？</p>-->
                    <!--<p class="am-text-left am-text-sm am-text-danger" style="margin: 0;">删除后，若现场还存在该面板，将会在中控同步后再次恢复！</p>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!--<div class="am-modal-footer">-->
            <!--<span class="am-modal-btn" data-am-modal-cancel>取消</span>-->
            <!--<span class="am-modal-btn" data-am-modal-confirm>确定</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="forbidDelete" th:fragment="forbidDelete">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">温馨提示 <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a></div>
        <div class="am-modal-bd">
           <p class="am-text-default" style=" margin: 0;">不可删除！</p>
        </div>
        <!--<div class="am-modal-footer">-->
            <!--<span class="am-modal-btn">确定</span>-->
        <!--</div>-->
    </div>
</div>
</body>
</html>