<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="console">

    <parameterMap id="lightMapper" type="map">
        <parameter property="lmac" mode="IN"/>
        <parameter property="vaddr" mode="IN"/>
        <parameter property="product_id" mode="IN"/>
        <parameter property="mesh_id" mode="IN"/>
        <parameter property="x" mode="IN"/>
        <parameter property="y" mode="IN"/>
        <parameter property="host" mode="IN"/>
        <parameter property="other" mode="IN"/>
        <parameter property="status" mode="IN"/>
        <parameter property="result" mode="OUT" jdbcType="INTEGER"/>
    </parameterMap>

    <parameterMap id="commandMapper" type="map">
        <parameter property="host" mode="IN"/>
        <parameter property="mesh_id" mode="IN"/>
        <parameter property="ctype" mode="IN"/>
        <parameter property="cid" mode="IN"/>
        <parameter property="x" mode="IN"/>
        <parameter property="y" mode="IN"/>
        <parameter property="status" mode="IN"/>
        <parameter property="other" mode="IN"/>
        <parameter property="result" mode="OUT" jdbcType="INTEGER"/>
    </parameterMap>

    <parameterMap id="hostMapper" type="map">
        <parameter property="ip" mode="IN"/>
        <parameter property="meshId" mode="IN"/>
        <parameter property="hostId" mode="IN"/>
        <parameter property="status" mode="IN"/>
        <parameter property="result" mode="OUT" jdbcType="INTEGER"/>
    </parameterMap>

    <delete id="deleteHost">
       delete from t_host_info where ip is null
    </delete>
    <select id="saveLight" parameterMap="lightMapper" resultType="map" statementType="CALLABLE">
        CALL save_light(?,?,?,?,?,?,?,?,?,?)
    </select>

    <select id="saveConsole" parameterMap="commandMapper" resultType="map" statementType="CALLABLE">
        CALL save_blt_console(?,?,?,?,?,?,?,?,?)
    </select>

    <select id="getLights" resultType="map">
        SELECT mname,COUNT(0) lmacn FROM f_light_demo GROUP BY mname
    </select>

    <select id="getHostInfo" resultType="map">
       SELECT id mname,host_id,mesh_id,h.is_master,h.is_control FROM t_host_info h WHERE h.ip!='127.0.0.1' AND h.status=1 AND mesh_id IS NOT NULL ORDER BY mname
--         SELECT mname,host_id,d.mesh_id,h.is_control flag FROM f_light_demo d INNER JOIN t_host_info h ON h.mesh_id=d.mesh_id WHERE h.status=1 GROUP BY d.mesh_id ORDER BY LPAD(mname, 3, 0)
    </select>

    <update id="saveHost" parameterType="ConsoleVo">
        UPDATE t_host_info
        <set>
            <if test="is_control != null">
                is_control=#{is_control},
            </if>
            <if test="is_master != null">
                is_master=#{is_master},
            </if>
         log_date=now()
        </set>
      WHERE mesh_id=#{host}
    </update>
    <select id="getHosts" resultType="string">
        SELECT host_id FROM t_host_info WHERE is_control=1 AND status=1
    </select>
    <select id="getHost" resultType="string">
        SELECT host_id FROM t_host_info WHERE is_master=1 LIMIT 1
    </select>
    <select id="getVaddr" resultType="string">
        SELECT vaddr FROM t_light_info
    </select>

    <select id="getLnum" resultType="map">
        SELECT host, COUNT(1) lnum FROM t_light_info group by host
    </select>

    <select id="getLight" resultType="string" parameterType="string">
        SELECT vaddr FROM t_light_info WHERE host=#{ip}
    </select>
    <select id="getTotal" resultType="int">
        SELECT COUNT(0) lmacn FROM f_light_demo
    </select>

    <insert id="insertLog" parameterType="string">
        INSERT INTO f_light_console(ip,msg,log_date) VALUE (#{ip},#{msg},now())
    </insert>

    <insert id="insertHost" parameterType="map">
        INSERT IGNORE INTO t_host_info(ip,log_date) VALUE (#{ip},now())
    </insert>

    <select id="saveUpdateHosts" parameterMap="hostMapper" resultType="map" statementType="CALLABLE">
        CALL saveUpdateHost(?,?,?,?,?)
    </select>

    <select id="selectIn" parameterType="map" resultType="int">
        SELECT COUNT(0) lumn FROM t_light_info WHERE host=#{ip} AND vaddr IN
        <foreach collection="list" index="index" item="info" separator="," open="(" close=")">
            #{info}
        </foreach>
    </select>

    <select id="selectNotIn" parameterType="map" resultType="map">
        SELECT * FROM t_light_info WHERE vaddr NOT IN
        <foreach collection="list" index="index" item="info" separator="," open="(" close=")">
            #{info.vaddr}
        </foreach>
    </select>

    <update id="saveUpdate" parameterType="map">
        UPDATE t_light_info SET log_date=now(),`status`=NULL ,x=NULL ,y=NULL WHERE host=#{host} AND vaddr NOT IN
        <foreach collection="list" index="index" item="info" separator="," open="(" close=")">
            #{info}
        </foreach>
    </update>

    <update id="saveUpdate2" parameterType="map">
        UPDATE t_light_info SET log_date=now(),`status`=NULL ,x=NULL ,y=NULL WHERE host=#{host} AND lmac NOT IN
        <foreach collection="list" index="index" item="info" separator="," open="(" close=")">
            #{info}
        </foreach>
    </update>

    <insert id="batchInsert" parameterType="map">
        INSERT INTO t_vaddr(vaddr) VALUES
        <foreach collection="list" item="v" index="index" separator=",">
            (
            #{v.vaddr}
            )
        </foreach>
    </insert>
</mapper>