<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blt.dao.ControlCenterDao" >

    <sql id="groupColumns">
        g.gname AS gname,
        h.status,
        h.is_master AS master,
        h.gid,
        h.mesh_id as meshId,
        ifnull(h.mesh_name,h.mesh_id) as mname,
        CASE
          WHEN h.status='1' and h.host_id is not null and h.flag='03' THEN '网络在线'
          WHEN h.status='0' or h.host_id is null or h.flag!='03' THEN '网络离线'
        END AS mState,
--         if(h.status='1' and h.host_id is not null and h.flag='03','网络在线','网络离线') as mState,
        if(h.host_id is null,'0','1') as pNum,
        if(h.status='0','（离线）',null) as pState
    </sql>
    <select id="getControlGroups" resultType="com.example.blt.entity.control.ControlMaster">
        SELECT
            <include refid="groupColumns"/>
        FROM
            t_host_info h
            LEFT JOIN t_group g ON g.id = h.gid
        WHERE
          (h.ip != '127.0.0.1' or h.ip is null) AND h.mesh_id IS NOT NULL group by h.mesh_id
    </select>

    <select id="getControlGroupsByGname" resultType="com.example.blt.entity.control.ControlMaster">
        SELECT
            <include refid="groupColumns"/>
        FROM
        t_host_info h
        LEFT JOIN t_group g ON g.id = h.gid
        where
            g.gname=#{gname} AND (h.ip != '127.0.0.1' or h.ip is null) and h.mesh_id is not null group by h.mesh_id
    </select>

    <select id="getPanels" resultType="com.example.blt.entity.control.ControlHost">
        SELECT
            id,
            CASE
              WHEN STATUS='1' AND mac IS NOT NULL THEN '在线'
              WHEN STATUS = '0' THEN '离线'
              WHEN mac IS NULL THEN '异常'
            END AS state,
            ifnull( other, ifnull( mac, ip ) ) AS pname,
            mac,
            CONCAT( product_type, '(', REPLACE ( ( substring( ota_version,- 3 ) ), '0', '.' ), ')' ) AS productType
        FROM
            t_host_info
        WHERE
            mesh_id = #{meshId} and  host_id is not null
    </select>

</mapper>