body, html {
    height: 100%;
}

body {
    background-color: #DCE4EE;
    font-size: 1.2rem;
}

.am-container {
    background-color: #DCE4EE;
}

.no-margin {
    margin: 0;
}
.p-a{
    position: absolute;
}
.p-r{
    position: relative;
}
.no-padding {
    padding: 0;
}
.am-list-title{
    font-weight: bold;
}
.leftNav2 .am-nav li:first-child.active{
    background-color: transparent;
}
/*.to-bottom-1{*/
    /*bottom: 1rem;*/
/*}*/
/*.to-bottom-2{*/
    /*bottom: 5rem;*/
/*}*/
.am-nav > li.p-a{
    position: absolute;
    width: 100%;
}

.line-clamp-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*单行文本溢出显示省略号*/
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*width: 130 px;*/
    /*background-color: red;*/
}

.topNav .am-panel-default > .am-panel-hd {
    background-color: #fff;

}
.topNav .am-panel-default > .am-panel-hd .am-panel-title{
    font-size: 1.4rem;
}
.topNav .am-panel-default > .am-panel-hd .am-panel-title:before{
    content: '';
    display: inline-block;
    width: .2rem;
    height: 1rem;
    background-color: #1875a4;
    vertical-align: top;
    line-height: 20px;
    margin: .4rem;
}
/* 判断ipad */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    /* style */
}

/* ipad横屏 */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    .topNav .am-panel-default{
        min-height: 768px !important;
    }
}
/* ipad竖屏 */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait){
    .topNav .am-panel-default{
        min-height: 1024px !important;
    }
}

/* 判断ipadPro */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait ipadPro竖屏 */
@media only screen
and (min-device-width: 1025px)
and (max-device-width: 1366px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1.5) {
    .topNav .am-panel-default{
        min-height: 1366px !important;
    }
}


/* Landscape ipadPro横屏 */
@media only screen
and (min-device-width: 1025px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1.5) {
    .topNav .am-panel-default{
        min-height: 1024px !important;
    }
}