#poeConsole, #poeConsole .content.am-g, .leftNav, .topNav, .leftNav-list {
    height: 100%;
}

.am-container {
    max-width: none;
    margin: 0;
}
.am-dropdown-content{
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.leftNav-list {
    padding: .4rem 0;
}
.am-dropdown-up .am-dropdown-content:before, .am-dropdown-up .am-dropdown-content:after{
    display: none;
}
ul.am-dropdown-content > li > a {
    display: block;
    padding: 6px 30px 6px 20px;
    clear: both;
    font-weight: 400;
    color: #474747;
    white-space: nowrap;
}
.leftNav-list li {
    text-align: center;
}
.leftNav-list li.active{
    background-color:#1C3B50;
}
.leftNav-background {
    background-color: #244964;
}

.leftNav-background li, .leftNav-background li a {
    color: #fff;
    opacity: .95;
}

.am-nav-divider {
    margin: 0 1em !important;
}

.leftNav-list p {
    margin: 0;
}

.leftNav-list img {
    width: 2.2rem;
    /* height: 2.2rem; */
    /* height: auto; */
    margin: .5rem;
}

.am-with-topbar-fixed-top {
    padding-top: auto;
}

.topNav {
    /*margin-left: calc(16.66667% - 1.9rem);*/
    /*width: calc(100% - (16.66667% - 3rem));*/
    /*background-color: #fff;*/
    padding: 0;
    margin: 0;
    height: auto;
    /*min-height: 700px;*/
    background-color: transparent;
}

.topNav .am-breadcrumb {
    background-color: #fff;
    border-radius: 0;
    padding: 1rem .5rem;
}

.am-topbar-fixed-top {
    top: 0;
    left: 13.66667%;
    width: 100%;
    /* padding-left: 0; */
    margin-left: -0.3rem !important;
    background-color: #fff;
}

.am-topbar-fixed-top-left {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* margin-left: -1.5rem !important; */
    /* padding-right: 0; */
    background-color: #55677B;
    padding: 0;
}

.leftNav-list .am-nav-header {
    padding: .4em .3em;

}
.leftNav2 a.am-list-title{
    color: #3a3a3a;
    font-weight: bold;
}
.leftNav2 {
    background-color:#F7F7F7;
    color: #5d5d5d;
    -webkit-box-shadow: 4px 0px 5px #eaeaea;
    box-shadow: 4px 0px 5px #eaeaea;
}

.leftNav2 .am-nav li.active {
    background-color:#D8DDE1;
}
.leftNav2 .am-nav li{
    padding: .4rem;
}
.leftNav2 a {
    color: #474747;
    font-size: 1.3rem;
    text-align: center;
}

.leftNav2 a:hover {
    background-color: #EDF2FF;
}
